body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --c1: #202361;
  --c2: #a8e061;

  --background: var(--black);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
}

.c1 {
  color: #202361;
}
.bg1 {
  background-color: #202361;
}

.c2 {
  color: #a8e061;
}

.bg2 {
  background-color: #a8e061;
}

.super-btn {
  --border-radius: 13px;
  --border-width: 2px;
  appearance: none;
  position: relative;

  border: 0;
  background-color: #212121;
  border-radius: var(--border-radius);

  color: #fff;
  z-index: 2;
}

.super-btn::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    #ff9f0e,
    #b5178d,
    #655adc,
    #09957e,
    #b5178d,
    #ff9f0e
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

.super-btn:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.super-btn::after,
.super-btn::after {
  box-sizing: border-box;
}

.super-btn:active {
  --border-width: 2px;
}

/* 
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    var(--background) 1px
  );
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  font-size: 14px;
  line-height: 14px;
} */
/* 
footer::before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
  opacity: 0.2;
}

footer svg {
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: var(--accent);
} */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.535);
  -webkit-border-radius: 9ex;
}
/* 
::-webkit-scrollbar-corner {
  background: var(--background);
} */

html {
  scroll-snap-type: y mandatory;
}

.carr-sec {
  min-height: 100vh;
  display: flex;

  position: relative;
  scroll-snap-align: start;
  perspective: 500px;
}

.carr-it {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.progress {
  height: 1px;
}

/* PAERICLE */
/* PAERICLE */
/* PAERICLE */
/* PAERICLE */
/* PAERICLE */
/* PAERICLE */
/* PAERICLE */
/* ---- reset ---- */

canvas {
  display: block;
  /* vertical-align: bottom; */
} /* ---- particles.js container ---- */
#particles-js {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: 50% 50%; */
} /* ---- stats.js ---- */
