@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Playfair+Display:wght@600&family=Roboto:wght@500&display=swap");
body {
  width: 100vw;
  overflow-x: hidden;
  height: fit-content;
}

.debug * {
  border: 1px solid red;
}
.debug {
  border: 1px solid rgb(4, 185, 235);
}

.font1 {
  font-family: "Lato", sans-serif;
}

.font2 {
  font-family: "Exo", sans-serif;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.font-prim {
  font-family: "Playfair Display", serif;
}

.rbc-toolbar button {
  font-size: 10px;
  display: flex;
  flex-wrap: nowrap;
}
.rbc-toolbar-label {
  font-size: 10px;
  width: fit-content;
  padding: 0;
  margin: 0;
}
.page {
  /* background: #000000; 
  background: -webkit-linear-gradient(
    to top,
    #434343,
    #000000
  ); 
  background: linear-gradient(
    to top,
    #434343,
    #000000
  );  */
  /* border-radius: 25px; */
  /* background: linear-gradient(145deg, #153518, #193f1d);
  box-shadow: 17px 17px 32px #143317, -17px -17px 32px #1a431f; */
  background: #1c1c1c;
  box-shadow: 20px 20px 60px #181818, -20px -20px 60px #202020;
}

.mission-bg {
  border-radius: 50px;
  background: #1c1c1c;
  box-shadow: 20px 20px 60px #181818, -20px -20px 60px #202020;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.main {
  position: fixed;

  height: 100vh;
  width: 100vw;
  background-color: #e5e5f7;
  opacity: 0.1;
  z-index: -1;
  background: linear-gradient(135deg, #00000055 25%, transparent 25%) -10px 0/
      20px 20px,
    linear-gradient(225deg, #000000 25%, transparent 25%) -10px 0/ 20px 20px,
    linear-gradient(315deg, #00000055 25%, transparent 25%) 0px 0/ 20px 20px,
    linear-gradient(45deg, #000000 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}

.hide-scrollbar {
  /* Pour les navigateurs basés sur Webkit (Chrome, Safari, etc.) */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.main {
  z-index: 1;
}
.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.gradient-02 {
  width: 200px;
  height: 438px;
  top: 0px;
  z-index: -1;
  right: 0px;
  position: absolute;
  background: #7aebfb;
  filter: blur(190px);
}

.text-gradient {
  text-shadow: 1px 1px 2px black;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* °°°°°°°° CARO STYLE °°°°°°°° */

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;400;500;600;800;900&family=Inter:wght@200;300&family=Raleway:wght@100;300;500;700&family=Audiowide&display=swap");

@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.htg {
  border-width: 2px;
  border-style: solid;
  border-left: 0px;
  border-right: 0px;

  overflow: hidden;
  border-image: linear-gradient(to right, orange, red);
  border-image-slice: 1;
}

.presentation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: space-between;

  z-index: 1;
}

.gradient-primary {
  font-size: 48px;
  font-weight: 900;
  /* font-family: "Audiowide", sans-serif; */
  background: -webkit-linear-gradient(
    45deg,
    rgb(213, 201, 247),
    rgb(116, 94, 172) 65%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

h2,
h3 {
  font-size: 25px;
  /* font-family: "Raleway", sans-serif; */

  line-height: 1.7;
  color: rgb(238, 231, 255);
}

.bold {
  font-weight: 700;
  position: relative;
}

.bold::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  background: linear-gradient(
    111.3deg,
    rgb(213, 201, 247),
    rgb(116, 94, 172) 65%
  );
}

.cta-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.cta-button {
  background: -webkit-linear-gradient(
    45deg,
    rgb(171, 155, 210),
    rgb(118, 92, 183) 65%
  );
  border-radius: 15px;
  font-size: 15px;

  line-height: 1.7;
  padding-inline: 20px;
  padding-block: 10px;
  color: #fff;

  background-size: 300% 100%;
  /* moz-transition: all 0.4s ease-in-out; */
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  /* &:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  } */
}

.cta-button:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cta-button:focus {
  outline: none;
}

.cta-button.project-owner {
  background-image: linear-gradient(
    to right,
    #22a8bd,
    #22bd99,
    #22bd99,
    #22a8bd
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.cta-button.freelance {
  background-image: linear-gradient(
    to right,
    #de716a,
    #b45d77,
    #b45d77,
    #de716a
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
