@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Playfair+Display:wght@600&family=Roboto:wght@500&display=swap");
body {
  width: 100vw;
  overflow-x: hidden;
  height: fit-content;
}

.debug * {
  border: 1px solid red;
}
.debug {
  border: 1px solid rgb(4, 185, 235);
}

.font1 {
  font-family: "Lato", sans-serif;
}

.font2 {
  font-family: "Exo", sans-serif;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.font-prim {
  font-family: "Playfair Display", serif;
}

.rbc-toolbar button {
  font-size: 10px;
  display: flex;
  flex-wrap: nowrap;
}
.rbc-toolbar-label {
  font-size: 10px;
  width: fit-content;
  padding: 0;
  margin: 0;
}
.page {
  /*   
  background: linear-gradient(
    to top,
    #434343,
    #000000
  );  */
  /* border-radius: 25px; */
  /* background: linear-gradient(145deg, #153518, #193f1d);
  box-shadow: 17px 17px 32px #143317, -17px -17px 32px #1a431f; */

  background: linear-gradient(
    30deg,
    rgba(0, 0, 0, 1),
    rgb(12, 10, 18),
    rgba(21, 18, 30, 1),
    rgba(21, 18, 30, 1),
    rgb(33, 27, 49),
    rgb(51, 42, 74),
    rgb(60, 49, 86)
  );
}

.gradient-button {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #ab9bd2,
    #765cb7,
    #765cb7,
    #ab9bd2
  );
  box-shadow: 0 4px 15px 0 rgb(118, 92, 183, 0.75);
  color: #fff;

  background-size: 300% 100%;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  &:focus {
    outline: none;
  }
}

.mission-bg {
  border-radius: 50px;
  background: #1c1c1c;
  box-shadow: 20px 20px 60px #181818, -20px -20px 60px #202020;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.main {
  position: fixed;

  height: 100vh;
  width: 100vw;
  background-color: #e5e5f7;
  opacity: 0.1;
  z-index: -1;
  background: linear-gradient(135deg, #00000055 25%, transparent 25%) -10px 0/
      20px 20px,
    linear-gradient(225deg, #000000 25%, transparent 25%) -10px 0/ 20px 20px,
    linear-gradient(315deg, #00000055 25%, transparent 25%) 0px 0/ 20px 20px,
    linear-gradient(45deg, #000000 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}

.hide-scrollbar {
  /* Pour les navigateurs basés sur Webkit (Chrome, Safari, etc.) */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.main {
  z-index: 1;
}
.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.gradient-02 {
  width: 200px;
  height: 438px;
  top: 0px;
  z-index: -1;
  right: 0px;
  position: absolute;
  background: #7aebfb;
  filter: blur(190px);
}

.text-gradient {
  text-shadow: 1px 1px 2px black;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* °°°°°°°° CARO STYLE °°°°°°°° */

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;400;500;600;800;900&family=Inter:wght@200;300&family=Raleway:wght@100;300;500;700&family=Audiowide&display=swap");

@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.htg {
  border-width: 2px;
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  padding-bottom: 5px;
  overflow: hidden;
  border-image: linear-gradient(
    to right,
    rgba(0, 157, 255, 0.031),
    rgba(0, 204, 255, 0.264),
    rgba(0, 255, 238, 0.543),
    rgba(0, 174, 255, 0.264),
    rgba(0, 157, 255, 0.031),
    rgba(0, 157, 255, 0.031),
    rgba(0, 157, 255, 0.031)
  );
  border-image-slice: 1;
}

.presentation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: space-between;

  z-index: 1;
}

.gradient-primary {
  font-size: 48px;
  font-weight: 900;
  /* font-family: "Audiowide", sans-serif; */
  background: -webkit-linear-gradient(
    45deg,
    rgb(213, 201, 247),
    rgb(116, 94, 172) 65%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

h2,
h3 {
  font-size: 25px;
  /* font-family: "Raleway", sans-serif; */

  line-height: 1.7;
  color: rgb(238, 231, 255);
}

.bold {
  font-weight: 700;
  position: relative;
}

.pattern1 {
  background-color: #e5e5f7;
  opacity: 0.1;
  background-image: linear-gradient(
      30deg,
      #444cf7 12%,
      transparent 12.5%,
      transparent 87%,
      #444cf7 87.5%,
      #444cf7
    ),
    linear-gradient(
      150deg,
      #444cf7 12%,
      transparent 12.5%,
      transparent 87%,
      #444cf7 87.5%,
      #444cf7
    ),
    linear-gradient(
      30deg,
      #444cf7 12%,
      transparent 12.5%,
      transparent 87%,
      #444cf7 87.5%,
      #444cf7
    ),
    linear-gradient(
      150deg,
      #444cf7 12%,
      transparent 12.5%,
      transparent 87%,
      #444cf7 87.5%,
      #444cf7
    ),
    linear-gradient(
      60deg,
      #444cf777 25%,
      transparent 25.5%,
      transparent 75%,
      #444cf777 75%,
      #444cf777
    ),
    linear-gradient(
      60deg,
      #444cf777 25%,
      transparent 25.5%,
      transparent 75%,
      #444cf777 75%,
      #444cf777
    );
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

.blobi {
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M638.5 677Q296 854 293.5 496T636 319q345 181 2.5 358Z%22%2F%3E%3C%2FclipPath%3E%3Cpattern id=%22b%22 patternUnits=%22userSpaceOnUse%22 width=%22100%25%22 height=%22100%25%22%3E%3Cimage href=%22data:image%2Fjpeg;base64%2C%2F9j%2F4AAQSkZJRgABAQAAAQABAAD%2F4gHYSUNDX1BST0ZJTEUAAQEAAAHIAAAAAAQwAABtbnRyUkdCIFhZWiAH4AABAAEAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAACRyWFlaAAABFAAAABRnWFlaAAABKAAAABRiWFlaAAABPAAAABR3dHB0AAABUAAAABRyVFJDAAABZAAAAChnVFJDAAABZAAAAChiVFJDAAABZAAAAChjcHJ0AAABjAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEJYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9YWVogAAAAAAAA9tYAAQAAAADTLXBhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb%2F2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD%2F2wBDAQMDAwQDBAgEBAgQCwkLEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBD%2FwAARCAD6AfQDASIAAhEBAxEB%2F8QAHgAAAAYDAQEAAAAAAAAAAAAAAgMEBgcIAAEFCQr%2FxABMEAABAgQEAwUFBgQCCAQGAwABAgMABAURBhIhMQdBUQgTImFxFDKBkaEJFSNCwfBSYrHRM5IWJENygqLh8Rc0U8JEY5Oy0vIYJeL%2FxAAbAQABBQEBAAAAAAAAAAAAAAAAAQIDBAUGB%2F%2FEADURAAICAgEDAgQDCAEFAQAAAAABAgMEESEFEjETQQYiUWEUcaEjMoGRscHR8FIHFRYzQuH%2F2gAMAwEAAhEDEQA%2FALmBMCAgQT5QIJjMLAGwjLDpA8vkIzL6QAAsOkbCQNYFk9IMCL9IBUFhIvA0gdIGEcgBA0twCsDYdIEEwYloQchkXGggGgO6ASVFSUpSLqJNgBHJbqVbqranMI4QqNbaSopE0HG5WWXY7ocdIKx0UhKknkYDUkDEONKVgVYJkly7lSqaAojvmEKCUNG26VLIzJ5pBB0JETZKMoSyiyQABoBEkIdw2U1BckFT2JsUYdbW%2Fi%2FhlW5CSbF1zck41UW2x1Ulo94B5hJjt0SsUfEtNbq1BqcvPSjvuusrzAHmDzSRzBsREyKbac1KReIR4uYAmcETE3xg4eSZTMS4D1fpDACW6rLJ1WsJGgmEglSV87EHeHulpbQkZqR0ls2gBRblA6XU5CvUmTrdKfS%2FJz7CJlhxJ0U2tIUk%2FIwNSDfURFJaHhIR0gSR5QYERvux5w1gFEX5QE2HKDi3brGu69YaATk8vpGd3B2X1jRSRygAJLYPONd0P4oPsehjLHoYACO6%2FmgWUdYNsehjYbPT6QqALCfX5RvIDzPyg0NnoYEls9PpCgEd2Op+UZ3Y6n5Qo7s9PpGd2en0gATFoHmflAe6HU%2FKFhaI5fSNFonl9IAEgaA5%2FSNKQYVd2en0gCm76WgARqRyt9IDk8vpCst9RGu6HSABLk8vpAko8vpCjuh0gSWh0gATZPL6RmTy+kKu6HSM7odIACMnl9IzJ5fSFXdDpGd0OkACXJ5fSMyeX0hT3XlGd15QDWJsnl9ICpHl9IV915RpTQ6QCoSZPL6QLugeX0hR3Y6QahodIBfAnSxp%2FwBIwtAR0ZeUXMvNyzKQVuqCU36mJCpOGadTmk5WkOPW8Tixck+XQRJXW7GRTsUSJ1MqGohO4m5JtEx1TDdPqjC2nGUIdt4HUpAUk8teY8oiibl1tLW04my0KKVDoQbGFnU4DoT7jluI0GkEKRptCtaDBCkw1DxMtO8EqBvCpY3vBKki8ABBHSNWPSDSmNZfOAVBZBttAbHpBxTpvAMvnAOE6knpCd4GFqk2hM8IYAiKTeMgwg3jIAHhljaRG7XgQHIQDDWXzjAmBBJMCCDsIAA5I2OkDydY2lGvLeADEogxKI2hO20GpRADYFCdYUIRAQkA3g1saiAbsYTlYGGe0Nh%2F25SUSuKaM%2FSpdZtb2htffFJPK4SgDqVWiw8itLsuEj3kaERAfF%2FhiOJ2E1U2VnV02s0x9FSo1RR70pOteJtV%2FwCEnQ72BvYlIhTwd7QKK5ODh5xJbbwzxGkEhqbpr%2FgbqHvZZiUJ0cQsIUrKkkpsrcDMZqnpkdke5E73UDoCYLmVIW0plaAoKFiCLgiEyKun%2FaNj%2FhhuY54hUnCVLM2tpc1PzBLNPkGtXpyYI8LaB9SdkpBUbAGLSe0QJuLIy4TU1NHoNTw8zpLUitT0pLDklrvM4A8hnI+EO1aNTHOwXQp2gYfZlapMJfqMytycnnE7GYdWVrA6pTfKDzCRHWUk3ipa9vgtxe0FAWMbsOkDyRmT0iIcFZExndi94Ny+kZl9INAFZBGZINy+kZl9INAE5AI1lEHlF+ka7s+UGgCcogYTA+7PlAgm3SAAATA0o9YEE+kDSgnpADC8nrG+7MHBFunzgQbPO3zgG7CMvrASi3WFPd+Y+caU3ruPnAGxMUmCy2TeFZb9IDkgDYjKNNoCEjpClSNIAE6neANhQQDGw2BBwTrzgWX1hUGwjIOn1jMg6fWD8vrGZfWF0GwvIOn1jMg6fWDMvrGZfWDQbCikDl9YwJB5fWDCi%2FWNhHIAwaALyDp9YCUX5QoCLdYDl9YNAEd35QahF+UCy+sGNp9YNCSb0K6I81JVRiZmFBLaCbk7C4I%2FWH%2FTp5ioMCYl1XQdjEclGmukOfBDwZlJhp5VkpdGQnzGg+cWKdrgrzXuxyTk0mTlnZtdsjSFLV6ARD826qYccfXYKcUVm3Um8STi+ZaNDfaC7KWUC3XxC%2F0iNXE6ZRqYS+Xsh9QgcTCZaIWupKdCITrSdor7LCEaxBShuIULTrBKkwqAKgJFjBhTGssDADlBEBKQIOCdOUaUnXlCbF2J1p03hK8mFrghM6LwgoiKTeMg0p1jIBR2QICNgXgQHKAYaTAwOcaA6wMAwAYBeMSnXfnGwIGlOsAjegSE7QahPnGkjXSBjeFE2btrBiOUaAtBiBpeF0IGZRp4ra9f31htcRcBYBxzQnWce4dlZ6Uk0KeQsju3mLalTTqbKbVpuki%2FOHO3DU4vqdTw1rpZUUrMuEgg23WkQ6UuyLl9B9NfqWxh9Wiu2BarxFwtx0pvBiW4t4qmsK1OUM9JOz7jczOISUzThY79wLCgn2bKCADlOw0i0FLwpRKPMuVGXl3H6g8Clyem3lzEypJNynvHCVJRe3gTZIsLCKYYXxI5L9rDBtPqdWllM0ylSq0pCwA26+icaUNbakPNC37N5SQRpzhKrXKtSl5ZYzsaui+UK%2FCYBZsYLO0G29Y1CSlsqR4CrGMsYMsOkZYdIaO2F2MZYwZYdIyw6QBsKjIHGQBsBGRtUagDZveBBAMaAtA29zAGzYbgxDdo0n3hBsAmzQbEbyCMG8CgENZBAVN6wYpehNiMvlvGhrre94ACigCAkDWDVwWdoACFDTSABJ6QflEBsOkKlsAABvArHpA0gbxsi8LoAqx6Rlj0gzL5xmXzhRNgchjMhg3L5xmXzgDYVkMCCLQMJ1geWF0GwsNnnAe7g+NWEGg2E5PKBpSRygwIEbCQIVLkNhZTcawx+J9em6DhoVqm1gyKmp0y6yk2K%2Fw1FCL3FszgSn1MPmYWppla20BSwPCCbXPIfOIuxU1PVvHeGMFqazSQfcqtQNgQW2Uk2IOvidU38z5RVy7pQ1CHlmn03Gqt7rLfEU2PNrE77OIES87NEy9Ya7+VcWdikhJTYk3y3QfMKtyhdNpSpIeSwpnMTdB%2FI4D4keY6HpaGeacyaGpwMmcqWEZx1yWaBHedzmKVAA+8e4UTbmQmHt7c1O09tLySHSnQHkpOn%2F2m3wEVaLpd7jNmh1CmEqFOpeP9%2Focp5KVa7dB5QmWgQucZCUBXlt0hI5pGg1p8HPKWxI4iCVIHWFS%2FSCVi8KhU9iYoHMwHL5wYpOsBywMUwJ03jSk67wIDzjCCTDQCFp5CE7iYVqFzBDqYBwkKSDGQYW7m8ZAKOi3SBAWjQPONg3gGG94GkQEHygaT5GAAYTAkjWMSedjAhvCiMEBaBDaNBMDSnQawJDQYHOBp1No0BeDEptDgDGwIj7i7jBeHBS6c3ITE8qfdyiUl0Ba3zcWSEn9%2FKJCRvDVxdLyRmlVZ6cbknZdgy6JxwBRZCrlYbHJR0BJ2A53Ihl6bhpE2G0rk5LZHc1NUEvSs9irh03Iht1p1uaLLMz7M6FApKlN3LagoDxbXtYxKGG8SSk+6aetZUUj8F22jgAFx6i8NnDAbmpd1VImDUkyji0ONPuhSnADqCQAEq36DrvccaeqtAwzX2JymTb6ZSYzNOSqW%2FBLui+u10kAWI2Gm0UITcJb3wbtuPHIi4JckwqbFs4G24gmwMJaBWGavJ2BHegAkhQIUnkR+sK1jLF%2Faa2jn7K3VNxYHKIzKI2DeMgGGsojMojcZAADKIzKI3GQABUn1jAgQKMgA0EXjaRa8bzeUaBtAANPvCDYJB5wYFQACvbWCJmel5UBbz6G0WuVKVYDz+hgbjiUIUtZCUpBJJ5CKF9qvtC4mr9QVROHc9NtUNt5DD00wShtxxKrOFRtdIso2TzKSTa4IR+OCWuHe9Ez4%2FwC0JV01r7uwxNh1hDr7SXZZxNl5AsJAUbgElG50B3hy4Y4oYkdoaMQMVBFWpjgU6217MoTSABdTaxYq7xJukotmuLAch5j0nFOPJyqUhcgmcbnG0vSqhdLScxdDmb3TopN27kCyVEXBuYfX%2FiHxspaZJFJlJhhTJTLrSG1gPoUnLmQsFINsuQC5UUoQk3sYzLKLfMZvf5mxD0YrThx+XJ6LUrtAYSmpNqcnnFttq%2FxlJ1VLagEutEB1sAmxKkDKfeyxI1OqtPq0umZkJlt5CgFeFQOhFwdOojzcpOLOMuKmJJU3SpioSDRDbgUPHLOJykqZVfvEg3TYXVlKABtmU7eG%2FHLF3DWuU2XxXT5hLjIU1MTAbNnJWwJC02CQdCoWtYoOmpixTOcFqb2VsiiEl3Vx0egFhAMsN7AuPsM8RsOSuKMK1BM3JTKemVbS+aFpOqVDmPiLggw4ouQezMku02BeBW8oxKdN4EBaHjWwNvKMt5QON5fOAQ1byjLeUCjYF4XQAQnyjeX1gQFo3CoAGX1jeQdYFGaQohrL8o2AL7aDUwIA20EAfmGZOWcm5j%2FDZQpavQCE3rkVcvRkugTL6mgnMGCM%2FqdR+kM2YFPwrjKZquIp1lpVQaalZR1bpUloZiVIJKQE5jk5kHKL20u7cMTaVyT0y6bFasyiep1jmVTCFKxhMKbrzan5RBuWF+6sjqIx7bXOSsXn2OjxseEa5VWbUdc6EuAp1+sTNUrQbkXJGcfUlsoUe+LSLISVi1vEE3GuxHoF83T3pCcMsCgtIWtxlY5oUNB58vlAcTYgoeCaUgsS8tLysmggJQgBKUW1AttHJwdjT%2FTenv1BDGRmXe7hsnUqASD+sPx4qc13efJFlWOFTcPHg6My2L6nbS0I1pHQR0Xk5vFzhG4kxosw0JSkfwiCFp8oVG94JWCReFQ5CRQFzBahaDlp13gtafOBihRIEZmEaVvGr62hoGHXYQU4nlB+XSAOJNoB2xKUa6RkGWPSMgDZ3RflAoEEwIJgGmk35wan9YClIvA0pH1gAMTBiU8zAEgQaByhyEZsC8DSBYRqBpGghRoIbwMbwAbwOAA1sXuYhnGCpWu1Jyg1WeLs2wtaVSpUW0aHfMLK112O0TOlQBy8jpEN8fKbN0UsY2kG8qQsNzYCb2P5V%2FEC3wHWIMhNw2XenTUb0mvJDGF6Vxg4Y8UK5JUuSm5iRq+Scp7SZrvmCgJSlYzqSClWYWIJ5g3NzHQwLiXG+LKqKviijNUmqCecVPSIdzuNqF0lBukAWsDpe+%2FS8jYO4iMV9kyirKebslJNtU7iD6%2Fh5LFXGJpcMtuutoTMJt4lLTohfrbwk9AnkDGRpqXng7GM009r2JDw2tEjUJdJslL6MhA6nX+oEOp0XiNKBPTU%2FVZQ2X3aHWxmVpfxRJrgPSNWiXdE5HqMe23bCgIyBARo7xMZ5qMjIyAAMZGRkAGRkZGQAZGRkZABtO0CBtAU7RuACBO2bxEqOBeEL0pSJwSk1iCZFPVMB4IcYl8qlvLQLjMcqcnTx+kVp7PXDVrF1LdxfX1zM3MT7q3WkPuqUENlVs1tNTqegvpaHr9o37S%2FUeHkk0kLQ6KkbFVgFf6uM3TQE77Q6Ozd7G1hiWYYzLSlkICl7qUDqfibmKmZNwr4fJsdJrjZZuXsdU9njBk2hLr8mtaym4IJuk+Q9OV4Lwn2TfvGuNzD868zRmU3DbjhW64ogi2UkpSm1ttb69bzdTGUqcSSBpyh9yCRLygUkWJ5CM2myUnpm3fXGK3obtF4NYWpWQy9PbIbQlAKgDYAWAF72HlDU4y8CcEcQMIztEn6Qyy8gFctMtpyqadHuquNxfcbERMbEyoMgjnCGopDrK85yjcnpEli0tryU4Scn2y8FCuxfiCtYS4u1bhhNPOpkJuUdd9mutbTcyycqloGobzBKif4jYk3KQbzxTKgUWYoPbLpk40O5TNKmkKFxZYWw4Tpvc7%2FAA8oubGtRLuimYOZBV2doan3RG40n3RAkxMVDAOZgViYwC8CgADlMCSk2jIEnaHgaymMymBRkAAcpjC3rpzgQ3gwHS%2FSAawtKinS2+kIq0WVMimrKfxzZd9sg1P9LfGF5WlGhG2sATh9NZdRPLfyFJskFFwRzuRqNhrEdsZSg1Elx5QjapT8HFli5ITfcrAQwkXSMxsPL18obeLOKFOw806sqCENgZDbVRMPiu4bfSw7MOy6lhKfA43c266jW3rENUvAFMxriuaXiGdbdlaW4CmRbcyrfWbKzLsbhA023NwdiDmfh7O7ta5Oh%2FFVODnvg5uH6TiLjW8anWluSWHEOmxH+JMqSdkX0tcanbkL62mKlUOmYdpzdJo0mmWlGb5UJJOpNySTqSepN46DEuxKsolpVltllpIShttISlKRsABoBG1iNCuhVL7mHkZc8h68L6CNweGEyxeFriR0hO4mwJh+iFCCZcal2lvzDiG2m0la1rUAlKQLkknYARBdA7XPDbE2Jqvh6lSdSmGqW6D7Y0G1NvSqQe+mkpzBRabIurKFKyHPbKFFMKdsjtPNVp+Z4UYBqivu5kqarE9Lq%2F8ANOJ3YbUDq2CLKP5j4fdBzU%2FpeKKthytSeJMO1BcnPyDocYfQqy0rBBB8x5HfWJ4U7W2OR7IF1l9tExLuocadSFoWhQKVJIuCCNwRzgCorj2bOPFKxXh1CssvKSLK22J6RaslNEmXFBKChOn+pPLJCLCzDhDXuLbtZAbGGTh2oUIWkGAZdYOWOcAIvEIGwNNoAtPlAwLxik6bwAJ8nlGQZl84yADuRkZGQAbTvA0%2FrAE7wNP6wAGpg38w9NtoLTA7gKHrtDkIwabWI30trA0bXgAvY9dAPWBoNwTvrofKFGghvAxvABvAxvAAYjeE1ao9PxDSZuiVVgOys40pl1J%2FhI5dCNweRhSnTWDBraDyL45KR4iw9iHhBj77qWFOMNLzSsyU6PS6icp6XGoIOxvE%2FYMqk1imUbQ1JqdXlB0TcC%2FTrHex1heQx3VJWRrUoWJWnrWULSbPunyOyWzl8ydPd5vfDUhSKLJJp9MlWpdpKRonVRsLeInU%2FGIY9Nc57b+U1pdaVdCr1uQkoeBJlrupqdWhjIQtLLYBUSDfU7DXpeOs6O7cU2fyQonsRUqgU6ZqtYqDEnIyTS5iYmH3AhtptIJUpSjoABreKqcJe2dRuK%2FH+sYHYQ7LYfn5ZDGHnX20oXMTLJcU64oe8kPIUChKtgwL5VOZY04YPbW5VLheTBtzZXWbsZZ1W8AVvGKJBjUUH5JkjIyMjIQU1cdYy46wGMgA2qNRom0Zm8oANwLMIBm8ozN5QADzCMBBgGbyjAbwAVa7elBnZ3CeFMQSDYW5Sqq6FA5dQthSgACRmUVNJSlN9SoDnEE8P+0TNyVC9rwpgb2eUknHJQv16pJk1rcTbOe7bbeVcG4ObL4r8wbTL2jK%2FWsQcWpPh9XWO7o9LnadWqapTaS25ZLgWVE%2FmzZ0j+XMLdWXSuCtBxXWK%2FT0yyZYtVD71ZZSAEvtTASsuJy2t+OmYBA1um%2FMRm5N0Jtxa8HS9NxLaoKW+Jc%2F4OMjtoY1kp4NLwzQFAGxP3s+19VS5HztDww5256zOMVanP4FnkTFFlxOv91OJcR3ZCilSVJSRlISo5jYaEaEEDgTHZko8nPTlXblpeXVMsCXcIDhSEpTlBCSrKCBcA20ubbm%2Ff7KnC3DNda4nSjEq5M0ipS6MPy06lX%2FAJhtptzvFtHoHXncp2Nri4MMj6HbuK5L0oXb1N8COX7d%2FEISMpVxhCk0yXqTKHpVqoVVxU0W16pUppttQQCCDqobi9odeH+2JjKoE06rUKgOTbv+G3MVGYlUOq0NkLTLuBVjYaXsd7Q2MA9nyhcRsCIpVUnJV6vUpCaNiCXKCHkzUsQO9ISUqAcyIdQoaFKx6RIqez%2Fg3C9IZqGJG5OTk6M0XFzbjqkBKEZlFbri1Em11KKlEm5OovEc5wSaa2JCluSb8Eb4G4rS3FztF4exW7hOoYcnaMqoSr8rMzja25p6UadS+hlabFzIoWvlsbLOwNrgcPcapxzh9isOyTchNOIS45JiY71TSVC6CdEnUX3A2PSKXu0iYwrjLDP3EhhqqzNJxPUnWpm4VLmef9qWCkgKzIDxatodCTsYsrwEkkMVXEsyiZYdC2ae0ju3QshtCXcpNtr5iRfcG8auBKNkJaWktaOd6pROqcZN77t%2FoTInaNg2gGaxtAk6xZZmgweYgWbygIFoEANxDQN2MCSDbaNxtO0PA2kHpG7GMjLnrABljGo3c9YCokDSABgceOJKeEnCnEWO0BlU3T5QpkUO+4uacIQyCLi4zqBIHIGN8D+01wg4wScs1hPFLDdULae9pE+pMvOpWRdQ7smy7G9y2VJvfXSKjfaP8UJebn6Nwqk3Cfu1Bqk94vCXnElLKLDW6W+8JvpZ1PnFHZLOhxl6VeW2ptaVtqQohSF3uFJI5jkdTppmjosDpsbaO+XDZl5WZ6dvb7I9+5ieYS13ZCzm08J1hnvN0FdefmJKUkTPMJs++lAzrN+nUH8xBPLlHl%2Fw37evHLhvLNUqs1EYupNyVN1VSjNob2UluaF1jrdYcta3h0AfuMftEJR+lUdfDWUdw%2FXWp%2FvJ%2FwC%2FpdExKOyaWXCWUuNkrVncKPHlb9wG4ubRX9NsgLTkxlyehUFrF4YPAXiyeNvDGlcRf9HJmifePeJMs88h0FTayhSkLSfEgqSqxIB02ESAoa7Rizg4ScX7GjD5kpL3CFCKg9sjtPpwq3OcJsAVC1amGi3V59hWsi2pP+Cg8nVA6qBugbeI3S+u1p2lpXg9RF4Twu+l3F9UY%2FDyqB+72Vad+oEEFZ2Qn%2FiOgAV5k1KpTU%2FOvTM5NrfmJpxTzzziypbi1G6lKO6lEkkm+ut4fXXvkf4QhmZhxSyjJlufeJ87HX4fSOZMOFx0lAuNNSryg+afmG15XCVAAZVKACdunXWEbikvm7yghzZXhsE6DU%2FOJ9pDO7Y5OGvEis8McUy2I6OGnsgUzNSkwgOsTkusWcYdQdFoUkkEGPTjgnxXw%2Fi3DdJfpVQdfotRtL012ZeU7MScwEZlU6acUcynUpBU26rV1sXN1pWT5KgluxsoAmwB0I8%2FKJV4B8aqlwfrrz0ww5UsOVcJla3Su+LXtUulWZKm1jVp1CrLbcGqVAEQycVJEkWetiiNRBS4Z%2FDrG9OxFSqaGq2iqy9SljNUip6JNQl0mygtI0RMNEhLqNr2WnwqADzWkdIquDQ8LTvBh2gsbmDDtEIAYyMjIAOxGr62jLiAX1gANA5wNP6wFIKhpDE4ncXqZw4mqdSPYVTlSqSVOIQVZEIaSbFRNjc3sAPXUW1SUlBdzH11ytmoQW2yQ0i4veEtRmahLU6o1KXekGZekS6ZmZdmQ7kUlJUt0AoPhIbSDeytVA2tpDfovECUmKcmo1BlKGVNlalNn3LC9iCfreOhi2gTGLcG06id5NNSldqbE5UFtpCf9SaUl7ulhXJzumGVp3KVr6XE2FKq+W2+F5Ey6LsbSmtb8DiTa6VEHcFVjufI7geUbbBCQCRcaaCwjVsoFzGwRDWRAxvAoADzECBvAAYlWm0DSrQaQUCBDc4i0jE1fwTWKRg7ELtErMxLESc82lJU24CDluoHKFWKCoC6QolOoEKuWA18X47oVLx6qgStYkZmealWX5yntTKTNS%2FeLIbWUfkC8ptm0JB23hrcSe07w34OpcViKue01fL+DRpY55l25sk5dkINtFKsLXtc6R5WzOPeK3BjH1fEnW6xSMUTDkxKVKffVeccSSAtC1KK7kLSolWZRz+LMSlJDMbq87Nzi5+fnX5iZfWXHnnnStxxR95SlKNyo3JJJv1IjocLHjYk5mZkyceUWY46dpniRx4fdlqpNqpuHUrHs9FlHLMgpX4Vund1wG2qtAR4EhV4hymVefoValKxTZtUvO0+Ybm5V9J1bdQoKQseaVJB+G5KQIDSKo0+yG5lSUm1r9dPhyt%2F0GhLm5UKd7524aCgUm9yLkeIemmv%2FRJ3664Rj2xXBjerJv5mexfA3izJcaeGVGx7LNNsTM02WahLIvaWnG%2FC62L62v4k31KVJPOH6TaPN7sC8cf9CMdL4a1+eS1RcUuZGAtaUty9SAs0oXsQHUo7u25UGhbQmPR+944zqOJ+FtaXh+DosW%2F16+5vk3m8ozN5RqN2MZ5aA5vKNFUZBZMIO0gzNeNE2gsLtGivneANBmbyjUFFd+cCzDqIA0DjAbQDMOojaVDqIA0Vx7X1OVTWaJjdlJvLuJlnSlNz4V5mx%2Fzufsw2MNyNLxEltVSlW3Fsi8u7azrOYeLIseJNxYGxF4n%2FAIu8O6PxFwjOSNRk3ZmalZaYdp6UPLSEzBbIQooSoJWQQLBV4pTwx4oiRel6JUD3TykjKTsAANz5xl5dL73Ne50vTMqLpVT8om3FXCjClUpLrleaeqrSU94ZSYfW81mQLpJSsm9iL9bjrDW4K9pjCGCZ2dwlIYJqDEtLOBltxSBmmFkDVISNALWsdRta2sNzifxixOZo0KgJmpdpDaFvvSbBecIJOZKEgG%2FIco5XDtyfSuan2OENcqLk%2FlK5pU02zMhYIKVlBIKbm1weXMRVj3Lls2IxjZwkWPoNN4f8Z0Lxk1g1yQMnOON5ajIIDrEwBYrbzAlOhHiFjrb06NVwThHDyPvpykSMxMySvaJaYel0KVLrAIzt3HgVYkXTY6mIHmOKPEHCTqESVHrdFTKrAWxMJRMyRQSP9oi+Umx0UfzHW8OHjVxqYkMIKQJjuZyblQrulaqbKkg2WOWv01htnc3pA4KHn2K94px7VsUdpejOUaUnJtun5pRSmG1LSkPKAWF2BABbC+moFo9A+DtGlZCXrNYSFNzVRmW0PM5QlLaWkZUZUgCw8R8tNIqB2VqbxK%2F0OnsXjFUvh6mVOtrmGZaalQ57VKBpsKmE2Wk3zJUlII1CCbgWKrg4FxNT3ZBE43jenVlDqynxMFkaGygFJUqxBEadN%2F4f9m1x9THy8B5tfrKXK9tEhXvrA0qhOibl3FpbbUq6hcAjW39IPTubxehNTW0c3dTKiXbPyHDWBoTrAU7wYnlEmiIMCfSNhIjWbzjM3nD9AYqwgOaNLV5wWpQ6waAH3nlCKuVqRoFGn67U3e7k6bLOzcwv+FttJUo%2FIGDisdYql9oVxQfwlwukMCU1y05i2aIeIWUlMowUKVtyU6tkHkU5xrsZaKvWsUF7jLJ+nBy+hQ7i7jKe4g8QKvi6rOHva3MuzBRnv3OoKWx1CEhKRpskHTQhnyrjbbhaQvvgtPiHmo7EbG463v8AzbxypGcenZ5MrMEi6shBv4b66b36%2FXT3oNqUk9SnkTIJW2olVzY2B+lvW4PVW0d1XFQgkvCOUt3Ke2wdWrMqglLbwUpStRm0unlzuR%2FxEfy8kOAcJ1fijj2kYKorIVN1+fakUWbUsIKlAFxQF9EpupVydEnSOdXihUwQllIKU2XcWt87W+Nh5RdX7Lzg+uq4wq%2FGKosq9koTBp1OKkmypt4eNSSQPca00AH4%2FlFHOyPTi2XsSru1s9D8F4SpeBMI0bBlFSUyNDkGJCXuACUNICQTbS5tc+ZMRz2ku0DR+BOEg+2Gp3EtVC2qPTyfeWBq84BqGkXF9rkgAi5IdPGLi1h3g1g2YxXX1d66T3MjJIUA5NzBHhQnoOala5Ugmx0B8vMfYqxhxVxtM42xpMtuTk+5kW01dSJdtN8jLadQlCbKASTuolVzmJ5Jbm9m7Bdi0MKtV3EmMMTP4txNPP1KeqDynH33Fp7x92xuSBYWAsNAEpGUAAWEEv09LEtacQ3muSEFWXQjQAcwSdz%2FAN5BkaC3Tw0+26lIbQHHgQLNg7jMQTltrsb77kCGViKaS8P9WfLrVkp71SRlUStJOg%2FMbpvt7piaO0tC92xoOOvNIcQoMhSDnupOYJBN9DfUbwnelX6i97W8nuwpIvkSAClIH5NyTca+fyUTjBmG3XU5u6SSrwJVohRJBv0t%2FUxz52accaQtSe7sQhFkXK7WIuTuevKFECH1sqWHQsgWy5Viyr+fKNNO5yBlHh5X2HWEodBSEFpwZElCkgC1r2Jvb5QagBDiUJRc6JOX9%2Fu8A9FhuzPxyf4cVhOFsRTM25hSszCC6mVKTMU2bHhbnpYkGziAogpsUrSpSVJUDaPR3CeK5PEMs2wqpSE1NmWbm0PSTmeXnZZZIRMsHm2opUkjUoWlaDqm58i5OYl6TKqnp4pQpI1KNk6bDztf5R6AdkHhFxKwzRmMZcSa%2FVZVDkstqjYYU+QzIsOKzqddQfddWSTk0sLFfisluG3SQ+LfuWQG5gzeCxvBoikSaNZPKMgY2jIA0dC46wG%2FigFzGJ0IgGnMxni2TwPhWfxNOpzplEAIbvYuOKIShPxURfoLmKm8Z8Z4nxNJUvGUzJtTDdKzpeS2iy0Nryk5QNwLBWtzpbnEi9pjH7LzzPD6TUlwMoE5OJ5Kd3bQbHkLKI%2FmTEeYKxLSH5F2UfbLl7IdllJBWjlsfeTyuNOW+kUcm3b7V4N7pmOoR9SS5Y5eGmLzWqaukLzzjT0uVrCHCkqbKdchFj8BqdfSLITnEeRm5qWXS5lKqXLNiWWgpN++BIcG2hCvDyBynlYxTakYDx1JYwqieFtVpcjTpSTXUAzUwsFTyQVdwwR4cxykhKtL2H5oXcEOM1MlaHNYKxhVRKVhubfMyip+B1T6lnMbnLdRVe43vyENfqYuOrISXzvxvnj6%2FTyaDhT1C+VU4v5EudfK+76P3a1%2FDZdyVnJWoNFyUeQ6ALqF9R6wcgpKQUnSIvwtiSRmX2ZmlzzZWlGVZCwUu6c7HaJIkplM3LImECyVi9uhvYj53ixj5CuXPk5%2FPwHhy2ntMVDeBQUN4FFpcmcGp2jFe6YBmEZmEKBSD7QzsuHGlBe41YKlGk1ajs5qzLoQEmZl0gD2i4Gq0JACif8AZpBuO7srzMlp5xhZbcatlNiCNQoabfv9R9Br6EOoLa0BSFApUki4IO4MeQXbv7Nn%2FghxGRXMMyKk4TxMpcxJhKCpMq8CO8lybWFrgpG5SR7xCo1cLIlHgrX1KaIXk38iErSLkjTnf9%2F9r6mHHJzoflFNvXPeIIPUen79LnZiyUwruUqVfwDfqRz%2FAH8b7DuydTQ3SFrUDmSDz8v2PodND1VVu0c9bU4M60vPlpLM0w4UvIWLEG2oN7g3+O51HPVUerXZV7R0jxxwt911dTTGLqNLNmosp0RNt+77U11SVaKSPcURyUknyhpDd2i8sE9wm+a+pUdf7fEeXhfXCjiRX+DOO6VjOgvhUxTnElxkulCJlhQHesrtulSbjUGxCVAXSCaufhxzK%2FuvBNi5DofPhnsze0azmGtw84iYZ4oYTkcZ4Tng%2FIzyLlBsHJdwaLacT+VaToRsdCCQQS5M%2FnHFzThLta5Ohi01tA1K8oIWqBuq00hKpzWxiMmQZngJXfpBal6bwHP5wAGFy3SA96rqIIW5AO984AFXfHygSHSTuIQl0XjaXwNzAB1G1EkR5i9obBT3Cbi%2FWZeQUU0uanFTsk6BZLQWA4pknllzWHVI8ovNx1474f4FYJdxLUWBUarMXYpFJQ6EOz8ydkA2OVAuCpdrAW3JSDH3GXhIviLRFVSblmXqi40FTrTSSEOuW1U3ckpI5anQAXvrCWUTsr7kiziZEaLtSK08PeJNAmy1IVF1DMwkpR3gsoWuBuNbeLaJ2pPD7hhjKW+9nMTTiG2CCHJSbW3fXo2RcesUwxlwfxlhCddqWG1uzL0ss%2Fhp8LqLX0KTuRtpv0hkSXFfidheWdp8r7ZKZwlCkOtq0A8rDTfnGZ+GjLlPk6KHUJVtRcePqj0C4lYk4VcNqH7LS64Kil4d2+0+suLVpzzXvprr+ointfr9T4l1s0qgoeddmHgw2zdRsgcydwLDUeum0MyiyPFHi1UhLKD4ZWRneWiwCbk72%2Fm5crDlFtuBXAeVwathDSBNVKcIQp03BuRaw6Ac%2FjCxphS973Jizyp5KfGor3H9N8NuBvDLC9DoWPhVkOSdOlJKbm5arzUul+YU33ivAhwJQLKtmTa5sBaws7sJ8BeGlRw3T8bcG3KzJKlfxWpZ+qTDzM00UqTnU044oZvFnSrckC4JylMZ8eK7gJib4l4VrdWqM3jKnz7DdOl32x7G0y801Od+Cm3uoK2Tc3Glh4riROxifZMFU+b76becfk0LcLjrqm%2FRAUooA8k%2FHeG5FM4P52PxMuN1adfhIsNh8PJlqcgi4EsRe4J2B1jupVa%2Fr+kcCUmHF1dpIsG%2FxigDcCw0MdnOBvF3Cf7M53qq7sjb+grSuDAuEaXRfnA+9HnF1cmdoU94en1jO8PT6wQF+cCzQ7YgYVk8oApQjRVBSibwncBsnWPM%2FwC0GdNS47VNgzIfFMw5I5EpcKgwsqeX3ZTslWoWf5XEk2Go9B+JOPqLwwwTVsc4gdSmUpUup0N5wlUw7s2ykn8y1EJHr5R44z2PKnjLiTVsR4jdTMzWJHZhcyblYDyiVZRcnwgeFI5BIA202+jVN3eo%2FHj+Zn9QmvT7N8+Rv1dhDc1I12WNmpxtKlWTbxEdPhzHz96OjWZgTdM7vmE+AjqN9BfXrqT%2FADDaEsi2lDUxQJtRKJdwhCidMl9DcnUXt%2F8A62hE7PmUIk5oDJY3PK3K9xr8deiRHT96ijB7XJ+RNSKbNV6rS9OkZYzEzMupYl2UAErWo2SlPK5JG1%2FWPZXhphrCfZb4CU2l1uaQwzRpT2ipOp8S5mec8bgRexWorJSgfwhI0A08+vs%2F+FT+PeM0liWbly5TMMq+9JhZTmSXQfwEEnW5XY67hCukS5x34uYh4w4omJdtL1Ow%2FSZhTMhJOGyypKilTryb6OqsRlOqEnLa5Xm5bqdzsn6SfBu4daUe4ZfFXHeJ+NOMZjF+ImFobZBl6VTkOpW1KMZr310B8IK1XBWRrYBKUtB1pNPkvalhxQISgOnwgDKbKsdNSonw7n0h3BuSalT7OShDVnnstruEiwB9AL%2FvXhSaZyqvK+8VONSedLZS0RbNZQUVqOwSFI6jMYoRj2l3e%2FJyp1tC5GcalXytLqUJUtWgSVFAskCwtlzaXI158o6r0p3SQiTKioOrIOayr5so02UcpbFzt87TNVHJX2ZyTRMAyK3giZcUx4nUrJVlCrjQISo6ai9tDaIuxJJ+zOvrNmp1sqaJAASSoZlO9N8trX0B5GHikd1l2RlXGqcwtwJRmD6GgfGvN7t9ybm36Rxp9Kx4O%2F8ADMJSqxNgSNQCeg0HX5x2Z+UdZDhU0tx1RSp5wn3VEkeWpJB3+cN94B1Il1jW4sED67nUwAFOLzOJDKEoGUZQPEL+Z5mOpT2panMrmpuwWL3AHu+nn%2FSDJaQbp7ftMwrIoapudEf3MXe7GvZPlXvYeM3E+UbffQUTFAo6zcS1xdMzMp%2F9XUFDah4dFKGbKERzsUESxhJraXAv7IvZLmZBchxe4uU4pqCcsxQqI6DaUSQCmYmEKH+NzQg+5opXjsG7kHnA1A2JgpW8UnJye2OS0FDcwbAIyGbJAwERkF3MZBsBdcxgVY6mABUBXrrCpobplKuJ8rPv8RcStVFKnHRVH3GXBotsFR7vLfbwFI6EabRpzDYSqUZqTyabVCAJWfZBSy6o38BJHhVbdJuFcr7Cf+LnDCdxA+cV4eQhyebaS3Myym8xfSm9lpsRdYBsQdwBbUWMf4feaqFOcodfpjE4lV21tK+oUlW0Zdy7JvZ1GHJXVJw8+50uGtPxeZkIcnKcZhJIcQlzIHE%2FxZSDpbcE+kQvxH4ezVZ4qVaYxLhoSDVRcSptKCCgoQlKUrbWNL+EK8joRfeZabhddGWpNKqry1KuphDxC1Mt2T+Hn961789rDkISYoxBXq67JU+s0Ismn3KXUjMpwGwvmAAtYev0ipKUWzWh3RidTh3hl6gSCVIq63Eo2UpNzlsN7Aj43HoIduMO0BTeA1Uw5QOLFNmJajYjlVzFNr8k0pxlogJUtmZZF1pWkrT4kZwrMDlRZVmvg2aOKcQymCaY6FTjqkqmW2PGqSlB777pBsgflQNSVqTpa5EX%2Fah4vp7s3gbh7KpQZmTamak+E%2F7JC8jbKfj3bvyEdF0HAWTJymuDkviTNVbjWn92XRw1ivDuMaSzXsK12Rq1OfF25mTfS62eouDoRzB1EdcKJ5x4zcLeL3ELhTVPvXAeJ5uluOlv2lhJC5eYSk+66yoFCtCdbZkgqsQTF0ME%2FaK4a+6ZdriTgmptVNRyrfogacllj+PK+6haD%2FKCvyOto1cjpN1PMOV+pz1GdVZxLhlzIyIv4ddpbgjxUmGqdhDHkmupvAlFOnErlJpVt8rboSV25lGYCJNBBFwbiMyUJQepLTLcZKS2mDteI6478HqFx04aVbh7WyhlU2jvZGbUjOZObSD3TwAIJAJIUkEZkqUm+sSGDaAkc4IuUXtCtbPBTGmDcRcNMV1bAmLqY7IVKlTCpd1tY0zDYg7FKklKkq2KSDsRHIbeUJZqVzWCngDqRoDf+n7Tz9NftDuzO9xEwuni%2Fg6nocr2HZcpqbTaLOTkik3z3uLqauo9Sgq%2FhAjy9bdWw+htYIU2r0vb9%2F8AbeOixcvuitvkzL6FtskajvIS0UOaje2g9P05eVvywvZ716b79AzpbSARcC%2FPe%2Fl1876EhqyFRQGQbixAFrjXTyHT6X2TqXNSXUiWLjqgFLure1zprsPLl0%2FlTHQRkpR4MaUXHglzgJ2jK3wbx1K1STZeVQJpxuXrEghXhfY%2FjSkkDvUXJQepUm+Vd49QcD4+wdxJw6xivA9elqtTHypAeZJuhxPvNrSbKQsc0qAI6R4wzrKZWUZmFlKUEEZbG5OuumvIj4dRmiWOyFx1c4L8a5RFeqr0thPFkmpurt5FLbbcQklmZyJBN0k2JH5FLNjcWxOqdPV0XbHyv1NHp97g%2FTk+D1izhWhMEuAbiE9PqMhVpCWq1KnWZySnWUTEtMMLC23mlgKStKhopJBBBGhBg86xymmjcUk%2FAQpR5wWtYSNDBj4tFNu0p236rwsx1O4HwFh6mT7tHyoqE3Ue8WhTykhRbbS2tOicyQVEnxBQsLXM1OPZkS7a0JOyNS7pvguDnKhvHOq9epFCYM1W6xI05gal2bmEMo%2FzLIEeW+LO2Z2h8WvrLeOV0eWWdJalMIlkp32WB3vzWYiSsVuvYlqLlXxFVp6qTzui5mdmVvuqFyQCtZJsCTYXsLxq09DtnzZLX5FGzqVa4gj1Fxr2xez5gpEwl%2FH8vWJthBUJWjIVOKcUDbIHE%2FghXkpYiBMS%2FaUvzbT7GAeGSWV5SGpmtTt8pI0JYZGtugdHrFJH2VhKlKFkgXJgTNNellqSqYdcBVcXAASN9LDr1vtF2vo1Vb52yvZ1GclxpEh4i4g424z4%2Fka5jGsuz027NsoQDcNtJDgs222NEIFzoPMm5JJ9esKyLNXpjEyQlXeMIUoA7KKRcfOPHDh3MStPxhRZ2oIvKy8%2FLuP+TaXElf0Bj2F4Q1Nn7tVKzCg2ZRTjThWQAlTZIXe+wBBhudSqlFRWhMWfqbbGBxZ7PqMSBdUw+Ey9SQLjMDket+VdvLZW48xpFTMUYNlGZwyVUojjU3LqyvMqsoIUOVxcH1BtEudtXiFxu4i4XnKVwOnxTcMy4WmoPMlTU9UkgKCkpVslkp%2FKPEoEZiASmPPiTnMa1qZkqZPYnrcuGT7OZX215tDBSdW0oCrJseQFo5vJwY3PuXDOkwuoyxo9kluJfngxw0nKzaUodGDDWhfm1pIaa001%2FMeiR5XIGsWiwlw%2FpOFcrku2XplYAXMOm6vQD8o8h8bnWPKvAVT4wUzELFL4S4nrjOI3iltuY9sWpDTCVjMt%2FOVJU3e%2FhKVC5Nhc2N+ODXaZfqdWkuGnFt6Rl8TupS0zUZVHdSs49oAgpJPduKN7W8KiLDKSlJfi4UaH3eWRZ3UbMriPEfp%2Fkr72kqaxWu0rj6j0RxCZ+YpVLW8VDNmcEsEL9Bkdl9vXrFluzqwzh%2FDVGo0y4nNKUxlkZbAEgAEgeusQTWTS6p2nuLtQzIVMsfd8mgqIuP8AV0Jcsb207pHyiVuF0264iXU49+I3+GAn8ydLfHlGd1aXbla+y%2FodB0eLlgp%2Fn%2FUlnGfEHCvDVlWMMWVI02jsrDMxMezuPWW5ZKLhtKlWKrC4BHWDcKcbuFGO1BvCfEbD9ReP%2FwAO1OoS+PVtVlj5QyO0JgioY74L4joUjKOPzbkkZmWbQLqW+0Q4hAHMkptbzjyucaVlAzXSo6jcEEfWNjouBDNpk3LTTOd67k%2FhrovW00e3qXNL3gxDoJ3jyBwJ2hOM%2FDdcvLYU4gVRqVZUCmRmXRMypSLXQGnQoJTYW8OUgbERdfs69socV8Vy+A8XYZYpNWcYKmp6VmCZeZeQkrUju1DM2SgEjxKHhULjS9q%2FpV1CclyjOpz6rn2+GWuSo9IEFkQ16txP4aYedMvX+ImGKY6L3bnKvLsqFt9FrB0hv%2F8A8j+AWdxA4x4QJbOUkVdkpJ5gHNZVudr25xSVNkvEX%2FImdkE9Noku5toPptBJKiq3UXHziJa52uOzjh6XExUOKlJeSoXSJMOTJIGt%2FwAJCtPM2iu%2FGP7Qyi1nC1RoXBSk4gkKu8%2F3Sa1PSrCGhLgEKWwkOKX3hOS2dsWClHRVhE1eDfZJJRZHLIqgtuRFvbl7Q7XFfEzWBMIzE0mhYfceZzKJQidnwSlTuXTwpAKEFWviWdlWNQRMKWy7U2mlJclJtDykquSALZhz8%2FlsOXXm56ZnJ2nT7jynVVRsvoUrVQeQoFYJ18RKr+u2lr7l2pd6qz0umwaqUuHAm2iVIJzC312O3Kxy9ZRjqmCrj4X+PJi3XepLu1yLqrMJUtupMKOSZbLqVg65iNduduYPqRtDXqUyXHUNIc3Fk33GutrbfDTzMKm6qml0xdOnUodSgDuyog2SdU3O1um46A7wLAVBnse48pmHaMx303U5xmUYaVey1uLCE3I1tci5PK+kOvsTQyml7+x6rfZ%2FcOW8FcCmMQuoAnMVzCp1RyZSGGyW2k+Y0WsHo5HG7V%2FCYUueTxGoUuhmTqboZqYToG5lR8LpHRzYnTx2vcriy2FqFI4Tw9SsLUtsNyVJk2ZFhI5NtoCE%2FQR0qxRKViaiTuHq3KJmZCosql5hpX5kKFj6HmCNQQCNo4ydvqWyn9WblMFCCR50ydMTOSE8X30toSlLbKV3SFqPit53A9Dz3jiTTLqlLKZdTaFuZ0cstxchVjyIbHqD8JDxlw7nMC4zmsLVlanXpZaFMTS0i01LrOZt1NwLaJUlQSLBxCwNAknmV7Dk+213skyFOTasndXCFFSQFKKbmwBUq9hY+Eg2y3iWMtkoxZtLT8ytuWbbcbYUlaHyLlzKknLuL3Oh8vTSNcRO91TkIenWnr31AKbKUoqIJBuRrqP90ctZTxDKTVEpLss+hsd224t1jOAWF9wpWckKIKblTfIXufOFOD+yjj%2FjDSpKpJrlNo1JnAtUg7NpW7MOsk5kOlpNgEG+l1JNhfLY3hLLI1Lc3olqpsvl21rbKu1iebU+HpdVu8slbabHJrc+IHckX+MEIlWJJK6jPaBvVGbUpudvM9P3azuPOwLxmwJKqqFDTKYykkhWdFLUGplsWvcMOnxaiwyqUrbw8xGXCzhbUcV4ya%2F0koM2FycyGJaiLZKXVzAVlyuoNiCD+U2tbXQG8M8uqMO5MtV9PulNQa1%2FYWcEeDD+L61JYtxxTXFUttxJp9KU0VLnln3VFOuZOugt4iOlr+kPC%2FBE7h5hys1OQapzk4yltMi2f8FI1u4QbKWdOtgLX1MD4V8J2sFyqaxX25V+vOptdsXRJtkf4bZO5%2FiVYXvYabvt5w5co2jPjGdk%2FVsf5Iu5GVXCr8Ljrj3fu%2F8A8EyykpBA30+MEqAg1YGw9YKWdbeUTmZphR3jIw6xkNHaMjIyMgDQeFRilQWDaMUYBwNCyDpFb+2DVMV4Ip1LxxQ8J0YYelJlk4irZmQmcl2luBsAM3T3ibrRqCtZJyhI3NiQrW17axEXa44Z1Hi1wAxRhGipW9Uu4bqEmyhGZbrsu4lzukjmpaUqSPMgQqhGfElsdG6yp7g9EV4ExXjvETgkjTcKNzTkv7XJoRXHULmpcgZZhCRLqCmVXSQtC1iyhex0h9Vfh5UsU0+VlsV41NJl0EKelqM2CpzqhT7ySSk%2FytpPMER5ycFu0jinhGUYUxPIOV3DjTij7Gt5bM7IE7uSbw8TZ0uW%2FdJJ0SVFcS9UO2K5Sah7TTay1iTDk24QxOrC2J+TvchqZliCCoaDvEHIrlrcRYh0%2FG3tRHXdWy2u1yLyYUxRwk7PGHpubbalaNSye8mZhRLkxOrF7FS1ErdXrYXOm2gjzb45cWneL3FTEXEFSpj2SenFCSS6rViVT4WUWGg%2FDAuBuSTcw3uJvF7E3FOrd%2FUZlxqly5Ps7NyCs%2FxFPS0MsuZmnWzcEjkb%2Fv8AZ8o6XptLoTaWkc1n3O18vb9xz0l9l9ZKQhSAq+a3%2FKBtrr5mO%2FLMpUx3Ssq1IAAvqSCTY%2FC8R83NOseFp0pWohIUNFD5fqDv0tHToOJMqUszCs1r+I3N9enT92jU703yZ%2Fa0to7lRkO5ly4EnLmKDcbWA+fOHbw87Q3GThYoN4Kx7U5aWSpKjJTC%2FapQpSQSkMu5koBtYlASbE2IOsN721moNqUCQlS7crnT%2FtHJnJFDboLZuCSNtIWVUJrUltCRtlW9xfJcPA%2F2luM5WblRxDwFSanTVKyzT9HK5aZaTzWhDi1ocPRJUjb3ut1uGXFTA3GLCkvjTh7XmapTJg5FFBs5LugAqadQdW3AFC6TyIIuCCfGmVIkpgSzou29kTqn837B+UJKexVqJVX5uhVaYkG5lKX2n2HlNKZcBOykG6b3BuLHXQg6xk5PRoWfNVwXqOoz3qx7Pcp1tLqFNrQFIUClSSLgg7giPILtudnSZ4LcR5mp0WQKcL4gdXOUx0AZWlk5nJbyyE+Hqkp5g25dF7Y%2FaOwmWmpXirXXUyd2VonMk6pKU6XUHkrK7C1zvbxA2Noc3E3td8SeN+GJfh1j6ToCWEBD7qpKRFp5QPgeS4tSi3Yf+nlPisbglMZ9fTr65fK0y7LLrktNMrJTJ5eayiQRsAfiOf78zqHRTql4UqUQptNjqdBz0N+hOtxz1AJUWfXJZ2k1NaVC7ajmQoahaTsfj+7x0afUilAKVC+gvfX53%2Fv131TsYtso%2FJP2KeTSmu+PuSfJ5aktl2YKSG0lYTyB0H9uXTQHKmGgwXpivsrP%2FwADKOK0T%2FEohOnnrp8RfmKj195gLb3BFspItqLDnbb9drkqUUialpFc1WZpQSmcmky97kJQ1cJvryzG%2FS2mgzCNCUlLSKMYtNkvcK+1Xxp4K09mi4VxBKTFAS84BTKpJpfZZdcNroUMribuFJsFhPjKiLquX7TPtJOPEpXHG6zRcIzUqm1mxTnW0m97JKkulTd9LKOcHpyiAZ2nS8pKTPeJCW1v9zcEXSFDc+Xi%2Fdjl4z1OdcU0l5IbnZdtQT4bpeQTbKeRy216G3URVv6fTN9zjyyxVmWQ42XllftL6ZN0eb9v4UzErV22FKlkNVVL0s44U3QSstoUEElN7BRAvpFH8W1ep4mq83Wqu8t+oVaeVNTT6zq644suOKPIa30GnIbCEaJyXZe9gSO7VcWDjgJIsNv8og1Skrm5RBUkrDbi7Fd7kFI%2Foow3ExKceUnWvImTk2WaUmGolWtNla9fWFKJRO+WFLYOQZktgfyq1jYVrZsXH8xsfrGnpa0ZkpvexO9Jd4hScmltfSDZJpTkmy48nxpTkUR%2FECQfrG1zCW1DMVW0Fst9Oe0J255DDj6EFWVZ762TRJIsRbnte3nDWh3LQvlGrqISSkqBAUOWm8eseD6NP1tpL8ut4UjE1KlqgiYQg%2FhrdaQHG77apCTrqc56GPJOXnB3mUrOh%2FKL7C8esvZExY5ivs+YQqLpUXpWTVSngo3JMq4plJPS6W0qHkoRkdVXyxaNHpj1KSY8Kxw9prtKelW5NsPKayOgAWeAFhfoeh87bR5sdo%2FBMpgbiXTmnkiWVUis96wpIKm0qSG1FJuUrSSQbjUC1zaPVmacHd5ykHKPnHkx2pK29i3tO1xLhtK016VkmQbeFCWULI%2FzOLPxMYb5NuJY3sRYRoVToWI3ZhpL1fp9SUxNhRSczKmwpl3KBok+NIGgJbUeYiQ+IPBPDlblnZluU7uoNtFMq+g5VMr2DoOhuDqPPWKo8IeJzvC7jPK1ludEvSZ1SZKrA3yKlHQEKWendqCHL9EkbExeLiviJnBuA69ixacyKRTn58pFvF3aCoD%2FAJQIWK5QS8HmhSOLc1hzjViXFNcn31ytcq1R9rcGpyrmlqadtvZNkj%2FdUrS9otZgfiXL4dqTKagvNKLCSh5IulYtoQrmNb6eUed9SmlzDylvKJX+Yp1uTufnyi13ZqlanxOwKzTGlIn5yiP+xrb71tp1lB1ZvnKboKbpCrnVtQNrAmp1vBc9XQXPhmt8P9RVXdj2Pjyv7nothyou4ukpCWozgK515pIJPut5gVquOiAo%2FCKjfaEdmWUwDilPFvBdNLdBxNMrNRYaR+HJ1AgqJAGyHRmUBsFJXyUkC2fAWjzeA6NLy1YSkVIpyuNlQWmVa3DYUCQVGwzEaXsASBcvvj9h2jcQeBmMaJUWkKadpTr7Kl6huYbHeMrHo4lJ89ucT9F7sNqT9%2FKKHWra82bhHxHwzw6Klodyql2wLjVJvf4w4JNlyWM9MZbZe7UBf%2F5aTb5QknKGtVYa1IlXlBTakp8STzSq3SA1bFtJpTQSq4XMvXSjLdSm0DIk9TmCQfjz2jt+1Re5HGb7uEBmppxhpDKnFlx9xTds2wt4Vev9oMfmnm5cBCbFZskJ26KHoLDXzjhVCtJdnPbFtuNIbYbKA4kpVe45dbWt6mDBWVzby0KSSy2oLdCQLG5FkW6HNr1AHUxK7YyewUHvZ3aVItJphqc8ovOLCVpcNwVZSAT1A5DyA56wOnyMmJh92aUoy4l0lLeXXxqURtpsBbbl1JCedr7ExJs0mWKSlLYDhJuNTzPTUk+Q84QzVfaV7Wnu0ZwsNXskXHdhVzy2UQeWh2GYETilsHF7EFYoNQpkk6JJCHUybv3hJKsSFJJutF9RYhRtpqVKv7scfFFRYl3JWt0slUnNIDqHQLhtRACkkWOx9dhubWG5juo0kGRWVTMk6jKtOxave5Sf763GutwULy6G3KKmZCeZXJzX+PLFQStDhv40pO3mBtyIGsU7Jwe1F6LcIT4cls4FVeKnFP8AeFSXF5hc8+Y%2FevW0Wh+zq4fjE%2FHumVh9RSxh2WmKutPdiysoDaE9R+I8hV%2F5PlVVxCHnwzLXWnPYWO2vX9BHq%2F8AZ69nyucJ+H9RxfjOlmQrOLFMLZlXQoPS8g2klsOpUAW1qWtaijcJDeayrpTg5WQknp8vaNaujuSX5Ft2rLWCOsLQABCdCQCD0iAePnaZq+F8SyHBbgZQ5bFnE6tKLaJdZKpOkNhN1PTRSRYpBSrJcWScyiLpSvCjFy8F5ofXHjBVJxHhU4jmHmZaew6lc0w864EJW0bd4yonTxADLfZaUcr3rlRu8xEqXfkJ9pMgJlsMt90f9bbynxi6r5ba3UNVAgZT4h0a9hvjFUcVU%2FhxxEx7OYjck5aWrVZmg2iXlJidX3gYl2GUBKUssBtayopzOOLQo2yJQnvcMuGzslVK5gvENV7mnTDBdp7jS1Z2g4pQdCb+EJzBJF73KjptFW3MVVjr+xq0dKsupVy93+n1G9WeyjjPH+H5iryOLKMzUnlLdl5F3MlgEpKQhTuRZSLeKwQbHLcEJAiOqjiTtE9lVDUpjrBU3VcJ0xgNCs0ZSX0NS6D4e9Atte2ZSW%2FCBdROkS5W6lxV7PZcnJx1GKMGyiSoT8mD7bLoFyQ9L65wB+dtRJt7gjpP8bGce4bcmKP3M3KTzIAfBCklKgD7uvnz5RQsypWrVi2bePgLGfdU2jocLO01gbijQ2apQa606kp%2FEbzKStCrAkKQoApOv9octDqOFqvxSpc%2FIUeWdqfskykzSU%2FiNMgAFSiD1KQCb2zkDcxSGj4Uk8E8S3xQwuWlJ1Rc7hpRCc3RIHLU7eQ22vZwQwa9h3Dhr1Ypq5Wr1YBTiXT+I2wP8NBT+UnVRG9yAdRYJTF2WfL4Q3OnGih9%2Fl8EhzC7EiESyTCh83VeEyv1jS+xzKQUvnBK9%2FhBy+cEr3+EKOC4yMjIaOMjIyMgAy4tGjtBYVpA76WgADcgwa2sQSreBohyAhzif2Ouz3xbn11nEeBmZOquKW4ufpazKuOLUbqWtCfw3FE65loUd4q9xE+zhxhh2Xen+Fdcp+IUIUckjMMIkZvuzsAu%2FdOK6klsdBHoUi0HJFtRE8MiVT4IbK1I8RMb4IxngCqOUfGuFarRZpC1NhM7KraS4RuW1KGVxP8AMglJ5GGo4%2F3aswOse6WKMI4XxxRncP4xw%2FIVmmvkFcrOsJdbJBuFAEaKB1BGoO0VF4vfZoYBxKHKlwlxJNYYnS4XPYZ5S5qSUD+VKie8a15kuAbBMalPVVrUzPswnN7R5wvTSkoOY6q5QFEy8whCkGyzmHzESJxe7MnGzgrNl3G2EppdMQspbq0kn2iSUBsS4j%2FDvfQOBCjY6RGXeBxxKlLBKNN9o0Kcrve0yvPG7Y6Y4JOrTLZGRwoSb3%2FfKO1LVMzBCVLvpmuDt6%2F2hn99dRShXdgG40384HK1MtuJyuWAJtrsefxjSjevqZ86vsPsVP2iZmZgqypUSbkjwkEWO%2FLXQdTCiZnGHaE+wkEPstmYSLW9w+Ied0j%2FAJYZLVRdYmGci1BCvBYm3nuOUdKlYjEvUG5aYcQq9rBW5Cr5gPmfn56S+rHw2Qxqa5QgdSmeZpeImnVhqbQJScIVctvoJS27bYaAD0J6mOtRqc1PuPYfeeSxMyTijKLsRkWMyiAf4FAZkjyI5AwkoUzSqRWXqTmUumVBZQpt2wLTw9eV06eShHQrCxJVRKZIBt9lpBbdQbF0JCSnN53Cgf5VqEQQ0%2Fn+%2FP8Av6k9m99i%2Fh%2Fv6BGI6E69KluaaQ24V5Bl17p3wjLf+FXLz6XhhMuvU2ZLMyggoNiDy%2Ff7vD3rVeL7jSX1rXJ1loqCSdWnvzJ8tT8FCEMu7T67TslTlA9NM3aW6nRZUnTfnfQ69bRBfSpz%2FZvknx7nXDVq4ORKVprI8gNOF51fgWk2AFrfPzv%2FAHCmann3KcuWUSkKskJvttb9+fmbc6oUlmQmFKlJ5JASF5VgApBNgDyOsEvzc2izT%2FhJ+F%2F3c%2FM9SYru+cPlmWVTCxd0B7Sdccq1AnKa++VOJCFMrCtQtNiPqB8%2FMwrp06KlTZWfmLBTBUpA2ssjK58Cc2nmOkMzDzE67Mrel1NKBSQptZWMw63SDbmNd9YfmB8N49xxW0YYwzhJyac7tbzjrLgDLLQ8Tjzq12CWxe6lKIGo5kA2oZHdBOXsVrKGpOMTlz%2F4a1zBAUsXKU6ElX%2FWDcNsVnE9SalaZRp+enC2v2ZmTlVTDi0EozJ7psFRKTpcDz2iz2HOwlP1GoNzGLsdsIpTTgLjUpIZX3023bUtw5ATsXGwq26ATaLRcOsBYM4OSbNNwHh+Vp6MqUzUyPxJh9KTe7jxuo6kmwNgSbARi5vxHjYr1T88v0%2FmbWD8N5GSt3fKv1KZUTsjdoWuyzU4nh+7JNvJBT7fMy8ooApuCpC3A4nTcFNxrcXh60jsJcVJpOSu4qwnTSFhJbE8%2FMqA3vbuQN%2FOL7MYxwfOSYbn5R51ITYkt3AuPFqdeZ1hC5gbhHiNopQKhJOA3DzFQeSu%2FwAVFJ+IjGt+LM2f7iiv9+5uVfCmBX%2F7e5lDKh2FOKcjV%2FYJfGGCVy26X1z8y0o6aAo7lRH9PPq3cC9l+q4xqtep1UxpIUyYwxUPu+aMshU6HlFAVnQQUAosUkEkHqBFoe0tMS3Z5pFPxTK4QdxtRJ14ys3OTtVeamJZSgSm6WQlGU2sFWuDYHcGG3wMqHDGrUSpYr4ayM7ItYjfMzPSk5OrmXJeaTotGZalKA8QOpNwQYwerfGnWcPCnd6fbtpRlpNb3zvnjjxwaOP8J9HuyI1VSba5km9ca41xzz5GdROwpR1vd7V+K8880Rq3J0FEuu976LXMOAD%2FAIN+kW57PuDcNcDsFOYJpU1WqvKuzzk+l2emWgttS0ICkJCGgAm6LgcioxwKQ5mya3CkiHjTVXbTrsI89u+O+vZH793H2jH%2FAAdB%2FwCJ9Lp5jX+r%2FwAj8cxPT30lo0uYDahZVpkZreRyekeYvacwtJ4f7Q1eFOLxbn0Ss9Z5YWpK1MoSdbDT8PTSPRVpYN79Ioh2vClHH%2FQauUOTc%2F53k%2F8AtjoPhD4hz+pdR9DKs7ouL9kuePokYnWuk4uHjepRHT2vd%2F3IJxC66xOy8wsX1yrHVJsCIuDx24kvTvYypleefCp%2FE8lT6aTm95y6e%2F8A+Vl4kRUbE8v30n3oNlJOhhzcSsfKqPZy4W4IQtSu7na1OzJKrZVNTKkNJ%2FyzKrf7ptHreLHvtijh8h6htleKsDlvc3AG%2FM%2Fv%2FrEy9j7iWjBfFWUo0%2FMMsyOJctPWp1VkpmM2Zk+pOdsDq4Dy1h+qt5UFd7gDkPn%2FANRtDaFTelJlDrC1JW2tLibq2Wk3SbixBBGhBuI0spLWmZ9PL2j2ukeINXpU13Dfsjim3Uju1FRUtJAJsEjprEWdsbtb0qj4Va4UYKqrTOJK34Kg604HFSMtbMpvwnwuuBJSEnUJzmwum%2Fn%2FAFPtica6tRGKIivytNKGEyzk%2FT5NDM48hKbeJ8ArF9yUZbknrEbyk%2F7UourmXBMlYcS6BdSV3zZ+dzm1Nr310ini1xjYpS9ia9twaJrafbnJQysyD3dsqjoN72UOnr1hmTeFJ6WrClOzmaXUbtugZbJPJXmB%2FeO9gqrU%2FEL7MrVJ2Tp3tco6wl+bcWGW5wLRZKi2bhK0hy2h8RTvex6dWpdOnzN0asBqbEo+WVJzJVmKVFOYKTcXBBB+N7XjqpOFyWjnYKVMuSNcYzC6bUUJUwTLsNJS05uHVEaquNwLgb7%2FAAjhIrT4ZDTWZLScwO4Uu+5Nvgkf9IdHEPCsjSaX30oHW0NKDqWw6pSCdATkJNjY8rC4F+RiMzPOA%2FhoyqBzXJ26fL+usY2VdOmxxlwbGNTC6CcR5yuIvu2XLKmUuPLUcqAb5ieVvXT0vCJuuOLefbm3gXXF94pQ8NjYbfIfLa41bTDzqSotgqdNwFa+G4O3w0+fXRw0fh5iaro75mSUw24CS9MEoB%2FU3tpYRAsm2xpVpssPFhBbm0IZiebcJQrnqLfv9+ehEhcF+zRxa4%2FVMS2BcLKMi2sB+qzgLMlLi9iVOEeJQ%2FgQFK525xePss9gjs%2Fz2GqRxCxLiE4%2FnHW0vqlAoMSUo6oA906yhSlqWjZSVryk3um1ou%2FS6RS6HTpekUanS0jIyjYal5aWaS200gbJSlIASB0EZOVmNtr3LlFSUflK69mrsKcMOBXcYjrQbxXi5N1feM0wAxKqvcezsm+VQFhnUSrQlOQEpizD8xLScs7PTs01Ly7CC4688sIQhIFypSjoAOpht8QOJGDeFuFp%2FFuMauzJyUg3nUgEF11WyW20bqUo2AHxNgCR5f8AaB7VGO+0FVlSIWui4WlHiZSksLNnRcWcmFXs8sEXGgSn8ovdRgxcW3Nl9F9QuvhjLb8%2FQsX2k+37LS8vNYK4ETBdmVFTEziJSPAgapIlEn3jzDqhlsPCFXC08j7NBxl+t47dqKUO1J9Mo97Y4nNMKC1vFwFwkqIUoBStbqVqSbC1LO4yq1bA7wBRPxP11iauyVxcl+GHF2Xanp5EvI1+X+7XM5SEpdzBTKj6qBQOX4gjdlhQooca1yZ8MtznyX94x1aVwfiinYpnG7tTUuaa+oahtSVKW2T0zBah%2FwAERNxBxRX56jyuI8FutKnJE+4CR3jd7qQba69eWnnEs1ueoGNqU%2FT59CJ+UmkWW2sjkb3vuCDqCNQbWsYr1ieh1TB00UcPHf8ASRgTCGZmTS+lpcmCfEpTyvwjYalOirbAxxOd0+c7e+Hudx0rrFVdKou414Y4MI8QU4%2FpRcnG5yXdSVNzFPmtS2saEXsMw53tzhgTmGalgGuvzeFXWkU2feL01IrTmSFHdTfNJOlwNCdbXJMd%2FhRijDnFfiVV+FuF35GYxDSJA1Ccmy4fZUFDiG1tIcSkqU4kupuQnLpa9wRE80Xs+lc83N4yrLM5LNWJk5VChnI5FxVjb0F%2FMRQWNdvWjWn1TFjHfdsjzgRwtnsQY8keI9WpQ+7Kb3jjDj2zr9iE5E%2FmyqVmzbApFtRpaJ1XSNS6JeUYblJVhLbTTYbbZbSAlCQAAkcrAaQU44o%2FlMaVNXpR0cxmZLy7e9rS9gtw67wQ5A1q8oKWqJSqgBO4gpe%2Fwgaje8FqPit5QDwNiTGwnpAkpvBqUQAFZTGQo7qMgA5YVAwuEgdgQdho4UKV5RtC9bQnLl9o20vxaw5ALC8202p55YQhCSpSlGwAG5JjUhVqbU03kJxt8AX8J5dfSEdVkm6rR56luC6ZyWdlz6LSU%2FrFaOCXEiVwzODD9amnmp5D7rCe8UO7bUdMpTodVDUg2uRFe+70muOGX8TDjlQm9%2FMvCLYDaMWoIBUogAC5JNrRzpDEFPco6qpMrSgt+FxIP5uVvI7j49IjjF+Ka7V5xqnUuTcmlzasktKy5ym+U3KlEgAWuSSQAISeRGCTXOxuP0+y+bjL5UvLZJTdUo9RKpFM1LTHeApU0VBWdNtdDuLRBXEzsK9nbiOl6YZwicLVF1ZcM5QFiW8R3uwQpk35+AHzEMHCHFGsDHVXkK4tyRfpk27IIliolSS0spUq45lQv6Wi1GHK41iCkMVJogFQyuDosb%2F3+MGJnuxuOtNE%2FVOj%2Fg4Rsi9xZ55Y8+y+4i06YemOHOPqPWZa2ZtioNrk3k%2Fyi3eIWfMlI8orjjXsodpTBKXZiu8Ja8lhnxOPSbSZ1BF9yuXLiQPUiPa8OAHeDAsRrRzJ+7MP8PBeEeASppxoZiy4goFhn0N+v0t+9EVUqTk8hjI2EFgaFI163Me43ETs9cE+Kzomsd8OqRUZxIsJxLZYmrdC80UuEanQqtEMYp+zX7NVekvZqXL4hoDgNw9I1LvCfIh9Llx8j5xafUXJdrKyxFW9nlbU5px9KKghCXGnMpcFgFBYA1v8BB5xK7MMNTKQSZYFtwHfKfdPoLn5xd3HX2W2IabLLTwu4lSNSacKry1cZXLLQkg+660FpUdt0J3OsRS%2F9m%2F2lqWhU1KSFDnSAbtNVRtJWOl15QfnFmOfFraeiL8Lvyisq5pU0xMySVjMwszEvc6kE3UB8NfgYXUafLU8nM4UtT7ec2NglxO%2F9D84emKey%2F2gcGzZ+8eEuJWy0Qby8kqbbTf%2FAOYznbI%2F4tOcMLEeEMaYSLK8SYYqlHDqldyJyVWzmOmYDMBfcfMQkctRkpJ+Alj96cQucnGZgz7jjlyVIabTfUpF9fS4H0joYfQ7UVtSa096BZKWzqEJG+n9f0jlUKizVZdUlkZUNWLrpHhQDt6k8gN4l+g0ykYdouRtADz5sFrHjNveV0+HLWLWNGV8u+fghvlGhdsfICSpkjIS6JduXSkAglIPPqo%2Fp%2FSPQPgzw%2FpXDTs+UeoS1OZNXxvVJdVUmFoAd7plt19pgXHuoUz7umq1ncx56yc37TXJOUJ%2FDcmG0EA7gqAt%2FWPTWgViTe4DS81Ov94MPuidJT+VCSW3XFeSW3HFHoEnpFfrFj9B1w+hN0pL8RG2f1QYueEwjvWWpl5xCTdPd5EA+pOvzjrYGqtOnZoorIQ2yhWh0VfQb87XMMhyvSq2VBqfemFK0SjJ3aAPM7n0jiM4XFdZddFcVIEKHdlEyRnN%2FhrHnXbo9MhKMuGWgncKULFtKmaZSpxVOmy2e4eRqLkaEjmP7RXqt4d7TfDVhTk1glOIZFD2QzFBng+6AdnFMupbUE7aJUog%2FOEMvivifw5kEmWmZqsyLWqgglUw0kHkg+8m172ObTQG+j9wp2nZypyhcS4idcZshxCVkKSbfmSbFJ1GhAMSrsa3Ia4zhLUHsq52n8f8WcV8JpanVLAtdkqQubDk1MTLGYNBJCgFZVKQAVDe9twbEpBjjsZViak8d1miqW53M1T+%2FCCSEhTbiUk2uRche%2F8AKIufjDihhfFOIU4MmXGqfN4ylH6WBcJDrimFHVJsFahKQTfVdvza0c4Y0DE3DHj3TcOV6mLkqip12QmWlIsVJWhVlpPNBWlBCtraw12rM6PmdOtS7ox7ov8A5Lztb+jWnoq3qVHVsbMg9xbUWv8Aj9n+e98l9aNOAhsbGH1TH8oF9jrEVYfm1qbQdSpB+cSDS51K0JsqPFHweg3R+g8pdYN9dxFDO17NNr7QaEAgKRQ5NFuv4j5%2F90XllXjlCr6Wjzv7UlZE12k663mJTJy8mwk30FmEKP1URHa%2FAMJS6q5r2i%2F7I4%2F4n7YYXa%2Fdr%2FI0qqkKlSD1iOJ6YnnHXpR+bLktKvu+yNKFw2lQBWAPNVyf6w+ajPI7gBblran0tDEAW4krcNy4e8Xc5dVG4ud+en9Oce+dMj3WOT9jyvqEkodpwayD3fdJQTdAUq9joNfjy+sRzUUrS+tw33It0iSKy2nxq0AWDYWTt8STra%2FxhgVRg3WQB7x5DrFjOjt7IMJ68iOWmCohKlbdY60jNKaXawynfXf56Q3tUKuBrHRlFl%2FKgLKV8rc4zqpuLL04KQ+qZUAy4tK3ltSsykJmDcjuzslwncW5m+2tzlAEuT2LFYqoIrE%2FWcOy1TpGWXmWQO4mXj3iUpcyk5ShaFJzKsLKBAI8IMDUqcQpfsMwlNyCk5idb+X7+MPzBdbn6NO%2FeMu5KOussLlXGJxhLzTzSxZJKT+ZJF0nkoaiyrRv4d%2FHBj5VCT2x6LMpVJQyc6137TyVFWceMG2o12I0selzEKVih%2FcFadpFQZcW6ldmgCE94nku+wTpvvvpEkt1JIdz3QLupSoi4B0Nzbpbl0uNjHQqNIo2MJZtyaSUzDQV3DybZ0JuLjoRqND10tvFjLx45aTXlFfGveK%2FsxrYQl5OQdSWZJDrwNisNk5bche9v30MSlIOTBl++fSlIULnOdNf+o8%2FibAQrMSeKKTUzITk6aewlYS2qWuVTA5d2NzfSwty8tXG8iZVSA5P1fuWEIPgmXS4ooNvEUi4Ws3ACfdFxoq5s3Fn6ScVHwOyIO1puW9kn4R40VzhviVqvcPqpMsTTTiUvPMuH2Z5OcAtuJ2eTuctj7psbgGHvxI7b%2FG3iG03SZevs4ck0J%2FGTQ0LlVvE6+N0uKcFtrIUkG5uDpaurNqdUAwjM6mSlVzLpdVZTrq8oBOmvhSPK1wLQlYUrvlOTLylq94k6eLcw26uu6Sssiu4ITnSu2Lehyz08%2FUC7MTk2uacc8SnFqJUtwmxUVbqOitTvqYSOOtyrneFSSAjMdfe129d4507VmG5ZtJX4xbMQdNv%2FwBj%2FwAYhtVevFbi0tkp6A%2Fl8h++sNnKFaCMZ28o79TxO2UKbQ4k3JunNYjyHoIbM7Vph1d0uqFiDorn%2FwBNLdLxw3pha1lZ35fv5%2Fu8AMytOlyYz7cpt6NGrFSWy2PBLtbLo0ouicR0LqL3dZJWbmHnAze2hebQR3iraXNwbm4vrCDjP2wK%2FiWizOE8DPinMPgyzk5kEslKNLtS7afEm+ozEC2thexFYA9nIFjrYaDUmLz9gjsj%2FwCm9Rb4x8VsPNv0CnK%2F%2Fo5KcaChPTA3eUlQ1ZRsBspe+iCFZV%2Fam2Xq0%2FBKP2f3ZPxRw5qf%2FjtimcXSPvqTcbkKAuXKX0SrlrLfKrZCcqVJRYkC1yCcovE48DfLfWEy1kgC+0MDFvGPDeFQ+48+lbUuUoW5fw5ioDfoL7%2Fs4198KuZvyamHhXZkuylbZISnbe8m59YJU5e8IaRWpCvyLc9TXVONrTfNbQ+Y1%2FrB5vCRnGa2hLaJ0S7bFpg1EHW8FKMALiStSAtJUndIOo+EYk5hflC7RH268mHeAlNzeB6eUZp5QmwMQIUNJzGC0C%2FzhQwNRDhuw4S1xGQqSBYRkAbGEHPOBBZ6wlCj1gaVxHsm0Kc5gTazeExXBjahDlIQ6DbkVL4%2FYMdwxjqaqUgwGWKqv7ylXcvh73TvU+oUSbdFiLWJcA5w0eK2AZfiNhJ6lJKUVCXvMSDx%2FI8AbJJ%2FhUDlPrfcCI76vVjpFnEv9C1P2ZEGBOK7a5qRwziWym5ttKWZlGyVJ%2FiF%2FX5mLB4Iosiy9OVJ5JXNpSG0LAISGVai3mSNT5DzvRVxE%2FKTS6RNsOS8xLOqBSo5XG3EkhSPUHSLQ8A+KjFXpzdCmHy5Pyye7SXlWU4kflUTzBv9Izq%2Fkmmzeyd347hB6f8AUZHaI4aUWicRJHHTjzstTsROdzOFDwbCJtKRlVfcBaBqARqgndUS7w0nJGm01iVl3lGXdSlAukgXtooX1PQnXqTAuKVOkMRuSP3zSe+bpjxflwSooS4RYLNiAdLgXHMxz8OTMoytUuiUaaz6WbbCcx5aiIp2KF%2FfAuV0zv6fGm%2Flr%2FUSdGZ7aRyKZUHCUyUyoldvw1n8wHI+f9Y6JcsbExr12RsW4nIXUyxpuEg7vI0pzTlBCnRyMALum8P37kWt8h3eQStabEXTc7HLAe8EEOODNeDexNAXXEi6U2J6xTP7Riq0qs4Xwvw%2FcqyW5n7wNXmWEpJWGEtONIN9k5lOLAvr4T0MW4rlbp2HqVPV6rTCWJKnSzs3MuqNghptJUtR9ADHknxd4jVPiVjaq40qILb1VmS+GM5UGGgAlpoHbwICU6AAkE21MaXT6FdPul4RUyrHVH5fI3mJaSlGpalUxlDaG15kp8+a1Hc2BO%2F6Rza5WVTUz3UspQaYHdpF7aDnApioM0+nFY%2F8w+nLfcpRz%2FfrHDZbmp572aSZ7x1w2vmATexNrnS5ANhuToLnSOhclHUImOt2PukdOjz8zL1BmbasFSyg%2Fc%2Fy6%2FpHoB2aeIcrXqA9R5oodamW1pdYUq6FpWCFJIva2qkmKFP4ZepErNrXMIeaXINzLbiRbMl6XDqbg6AgLsRfQjS4sYFwq4wV%2Fhi+arIPgtPpIcSpGbK5%2FF84oZkd62WsV6T0XETMYs4UYqHD7EtLqk7Q33i3h6vIbU+hxg2ysTJFyhxF8uZWirXvD7ok5KsOoqrE4gEKGoN7xWNXb3rRR7K7hmXqDLiSl1t1OUueWmhB9OvWK6U%2FiNjXCtSVMYYrs%2FTJZD6nmpNEwpbKQVE5VIPhVvbUa7xzuR0tTblW9HUYfWJVrVy2vt5PTuuVGfqqkTtErr0qpKRnZmmEvMudbEFKx%2Fmt5RXTtB8UKdgWVSmXNDmcTP8AhQ0y0tSmm%2FzOOALGXlYG9zyIBir+MeNHE%2FFcyHqni+daYdaCfZ5J0y7FiNRkQQDud7mGclYIuo6%2FvzhuL0nUlKx%2FwJsvrKknGlP83%2FgdiMbVacqf3tOzzjs2p3vi6pYCwq9xY2GW2lrWtyixOGu2fxPapDFHrkxI19hpCW0LnmwJkJ6F1CgVbDVQJ84qUHCDm6esdCm1pbT+UrygC3r9I2cnp2H1CtVZdakl42vH5P2MGnMysKbtx5tN%2Fqep%2FDyuS+IcM0+s05YLM6w1MtG+ySBdJ%2FmSUqSRyIIiTKPOMLuSSNdLC9480+HPH3iLhGjIw9h3FglZIKW4225Ly7oQVG6gC42ogFRJte1yTzMdue7QnHJRyt4+eZTluA1KSaU%2FRsax5hk%2F9MM222cqLY9m+N73r23wd1V8d4saoq6Eu7S341s9OJepJTKOLV%2FstR6AX%2FQx5odoecmj2icVmdT3Sw8ym2bN%2FsEb%2FX+8Ru%2Fxm4u4hmZmQxFxHr8x4S260qoutMuNKFrFCFBJ00tY3vzg3GeM53GuOJrElWeLs9OS8qX3f%2FWdQwhC3PLMpKlW5XI5R0Xw18I2%2FD0bLrpqTlpcLwl+Zgdb+IK+sShCqLilt8+4rq9RbWwqVUTd+zV78j72t9BYHWEU28pDOVJQkqvY9B5dPlY+ccuWeXP1tKQbhhN9Bc5ldOmg389xeF8+ta3lWKyEgtpKc9r8%2Fd0+p23j0bpkO2ly+pxedNu3sORVV96ooJTonQZgdLf7sNupSjYaUtWXX+ZP9odiZV1eZ1zvbbf7SG5iBxRBaSXbJJ5Lia9Lt2xlMntJDLmkZVmMllhKt7KHunpBs0NSCLet%2FwBYStIUtwNtpKlKOVIHMxhWfLI2E9o7sorvikPqyuJNwobH56Q4ZGaeARMNhKnWfCoD8yCNU%2FLr0GvKGpKvvyyyw6kjLoQrdPz0jtSboKMyT4unP5f2jQxpoqZEdodrL7imkKuo3WpWhvysPqfp%2FLp1aLVnEltlT4ypJPhNtxr68j8IabdTWVtJUq6UuBR8hcfv4chHTZPdzLlkJSlIy6H1P9t+RMbFdifKMa2tryPmZYp9dlvZ566VAEMvtkBxskWJSeXptpDVmKQ4w4JSszS1CWeS2zdVw6CSouEnX3dhyuroIWSky4G0Ek3y7dLcobnESpzMk9IOtt6OskKJG2v9bXhciUYR9SXsLjRlOSrj7hlQqgTVZtxS7h13UWtYBAFv8145T1WUXVqCrAk21tpHAfqqkTCytGbM53u+wOtvrCR2fC9Lxl2Zae9M044r9zvTlVW40SV22skH02%2FewHpHGXMKKib%2FAKfr+%2FrCNcypaMhJy206wsolJq1dnGKVSKbMzs3MrDTDEu0XHHVnZKUpF1E8gLk7CKVuR3cluqiMAoPEqtb9%2Fv8AfISHwn4EcVeNdYTSeH2EJ6oWXkemu7yS0vYXPePKshHoSCeQJ0i6XZh+zWkvZpfGPaGbcLjqUuy2HZeYKCjUG8y4ggg6f4aDsRmVe6Bf+j0eiYapLFDw9SZOmU+URkYlZRlLTTaeiUpAAjPsyudE6gtlQeAf2bXD7ASZPEXFmfTiqto7t77vauinS7osSDst8X08WVChcFBuYuCy1KU6VblJRhmWlZZsIbbbSENtoSLAADQAAbQF2YS0lbrrgQhGpUo2AEcSYmvvdYYW4WpYm9rauW69PSM7IyVXyy%2Fh4c8mWo+PdjN4vY1nZelvUugTCUKW2pTi7+JY2AH8uawJ%2FTevuEcFY5404hfwtVmnZLDjLgFamUOhaVN6HuW1j%2FaK25FIOY%2FlCrDcRMCUXE1Mcp0rV36ctYuhakB9KTzUm5C0noUrEdvhvQqXgXBchhxNRZeclG1LmHj4VPOqUVLWQddSf6CMVKOXd3WPhHVzn%2F2vD7caO5Pjf9xn02QewDjyYwvIuOJo0yyidkELWfw73CmwoG5AKTYX0BAh81rG9MpUj377gaOVSnFKIs0ADqeuuwhm4w72r4sbq05NmTptLbPcuKdy5wsJKiEg21KfzDQJ0AuYhviZiyUx6%2FIYa4cSs+7Ozc0ZVSy4tYmgb5iAScqU7lewSFHYaO73CxxqfDGqiN1MLcvyl%2FP8x5UCuVLiRxNMjg7ENUOGJJtMzVnHfA53hJKWgtI1K9NN0pC9b5bT8lZPSGjw1wFTOHGFJbDdPyuOJu7NTARlL76veVbpsAOSQBDqvbnGjVT6a+5z+flvLs2v3V4Ds3pGBesEFZjQXrvE2iiLkKEKGFjMI56HIMQ9lNzeFG6O6lWm8ZHMTPAC14yANDJzRsL84LzeUaKiIiJw1TnnBiHISZr84MQu3ODehGhely8HJdsNIQJcg0OC0P7t+BNEBdpvA4lXZfiHSpUBLlpepKQAMrlwGnT6+4T%2FALkQph7Fs1hauy+IJZRbJWA+E66ge9vF4KlT5CsyD9Lqso1NSc02WnmXUhSFoO4IMQVjfsvSb5enMBT%2FAHJcUVqkJ10qbAtoG3LFQ1Gy77+8LWindS3LviauJlRSUJslvh7xMouMKU0Zl1KlqSEKJ5jr8R%2FSHE7Q6PMBTsi73BCiUZDb6HSKSyTmLuGlRXTJlqakHwQVSswm1x1QdlA66gkG0S3gvjG3MpQxOPWcFgUqig%2Fm4aNmFjS3FkyTbNRkp9hSnG3O7WlaVJBSogbg7jX4Q9mqfPzUqiflpdT8s4MyXG%2FFp6bjzuNIi9GJGKmy2%2FLvZigg2J5RMHBmfNRos8haD3bUzmbvyzJFx9AfjF%2FpyTsdb9zK6zBulXLyv7jadrNHbmzT3KrJpmk7sF9IcH%2FDe8HCYYWLofbVfooGO9xV4I8LOMNMXSeIWDKbVkqBDcw4ykTLB%2FibeAzoPmDHl52mOGFc7N3Ed7D2EsXV80Z9luYkHhPqZfCDoW3C1kSSFJXYhIGUjncnfpwFe+3emczLL9OO2tnpLnR%2FEPnBS1AnePKWkce+NNFKRTeJWJUAWsHZ9x9HrlczJPxBh7UntkdoWltdxNYlkakFWyOzkgwFHqLtISOm46RLLol6%2FdaI49Sq%2FwDpMsF25uM9GwlgN%2FhZKrW7XMUMILobUAJWSDycynOf4oQ42kcwFm%2FhsfOCbqSnXQkKFydLnURJXFzHGJ+I9XncV4rmUzNTeabQtTTQbbSltICUpA0G3zJMQv7SVv5r7GLlVP4KtQfn3IJWrIlv2F1SnBMvNtqOjdgYclErVLo0hLTPdJm5sLBEolSmmkhDmbvJhSLKWoE3RbMLCytPDDIfN3yrNa43gucqby0FgXQ2R4rW8R9YX1nvYeimtHdxLjOs19TyJ2qOzT82vPPTRIBfVYJyiw0SEpA8%2FwCvFbbl3Wu4LIWlNzYjUbcxtCFgzE2+mWlWs616C0dukLZbnn6M+hBcSrR3LmBKeo8oZFSvmu5j320Q4QW1IU9hIKXG5V+wUkrX4j89APrfyjjVH2hLp713vATocwN%2FlDnrVSTlS3VKZLvsGwbmGAUEJ5XBv5c%2FL04dNpspUKu3LOIfRJKcT3rrVlqQ1fVSb2BNr2BI10uIdkQhUtLyMonKb2%2FBus0GtUWSpyqzTJiRM7KJnZQPtlBeYWpQQ4kEXKVZVWPMC4uCI5jbmnjMTl2l+K9B4rtYc+4sEfcDGGKc3R2XFzntD0zLNj8LvLISlJSe80F794ekQQ2c6rGKUZFuXAqQrNsNPSMWpG17H4%2F2gtUu+k50JJSPLeFkozI1EezuPdy%2Fsm97KP1iwk3wMbWgyn1d+TUEZ1BOxKVKBA8tdIk7DdalqwwGHnlF0aAqUoXSB5gxFE5RZ+SvnSFJ6gwVI1Cbpj6XmFZVJO0WKL5Y8tTXBVuqVy3F8j%2FxlJrk5tFXlWjnaP4ybp8TfPkPXYwlqc0FMS1YbfDmcFBUlNtLXSd%2FUfTTQR16FjKn4nlDS6sQ1MKSUXKlWUDoBzHzhqVBhyke2UCYWCy6S5KrBuM1%2Fd00Hy+V4uZCjODlDlS%2FRkFTcZKEvK%2FoOjDU0GaVMVVWXvptwhkKUCConKnQkAgAXtr10hexLIeQC4gXvcX7u51397r%2FAFjnyfs8shiWUsJbkEhO9sy7WJ2VsNNOpgmo4nKEGXl3fFbKDnI0+KRFirtrrUfoVrH6ljYrrNRkpNr2ZpptRNif8M%2F+6GdU5jvlEpZ3%2FkB%2FWD1LK8zz0zmUrU3Wk%2F1jmzLiSTluR5JR+kVr5tosU1qL4OZMjU+GxPlaD6NLJNQZWoXCDntbpr+kBUjOsC256R0qa0hlwqvdzIQ2BzUdLfK5+EZL87ZqaTjocOKMB1Cj4Jw5xCeW67KYkmZ6XSlUotAYVLFoWDhNlhQdBBAsLEXJCgGtKTwa8CTZPTlF4e3FQHcI9l7gxht1ru1U2VYl3kFBSoOJlGgq4OoN81784oafBZzdKtiIZXdLuGyjrgcLc4hy+t9tb8wd47stNoULJylSxYADYW69NbfE9dWTLTGXz15x15KeAcStXI7HX1+nx9Y0sfIaemU8iha2h8yLqSAhSbXsbG11bC36fCOlU+F3EHijS5ubwDhiergw+j2ufakUBxxtpw2SpLY8a9UL9wKtYk6aw1JaeDzpcSQm50Te552Avz%2FrqesTXwO7QuJuB6qovC33d7RV2pf2kzsuXCG2+8yZdRoSpd7X1tGhf3X0uEHyylSlVYpS8IrHP0qpybiWZySeZeAyrbWgpUkjTUHUbR38GcHOJ%2FESo%2FdeCcB1qsPixX7LKLWhsG9itYGVA03URF3q927K5XqeyupcKMEzVUlSTLVGdZU8lhWYXUhpeoOiRo5vY66CI0qXbH7RNYcdKuIj8k06oENyUpLMpTzskpbCh%2FmJI3JjIWDky4aS%2FiaKy6Yre9nE4d%2FZy9oPFtSDeJ6TJYRkW1J7yYqUyhxagb37ttkrKiP5igajXp6D8D+zrwR7M9ME5TG6f98BvLNV+qLbTMKuAFJQpRsy2f4U20tmKjqfOvEXG%2Fi9icJVXOI2JJkA5sv3i82i9gPcSQnl05wz++nqpOJcdfmZyafWACVZluKJAAvuq5sOt4c+kWS5lIY8+DeoxPWupdqHgVSqm3RlcRKdPT7qsiJelodqDhP+7LIWYkpqbXN0EYoSy7L0oMe0rmZppTOVu17lCwFA%2FwAts19LX0hD2ceF9L4R8LcP4Ul2GRNSsohc8+lACnppYzOrJ3PiJtfkAIVdoHEaKRgRDTeUqmp5lFt7BKVrB+CkpPqBGNkVxqjKSe9F%2FE3kWRrXuNfEMy%2FiF5uVpj6W5Bk94t1wFHfq5ABSb2T57nlpqZSpKpqQErRJqQbDNdQOkQ+zxGml5Za6gG7AZjpbz84cisdT%2Fs6Cw6gKGpO0crbZK2Xcz0CmmvFrVdZKJpMkVBK0MJWPEsZCR8yqw+UNHFNbolHkZxasi1JOTKAASArUADQa%2FO0Myb4mtSodL1QShW6hnuSeQ016bRFeJcTYhxZPJplJlZpa5ly3csoUp11GuiUjUX0ueQ6RGl7Ic56XIDiFi+oYzaU1KqmhLNupbRlUbOLKrBtKUnxm5t9BrtNnBfhQMDyX39X0suV+dZDZCQCmSZ0PcoPW4GYjQkC2guWtwi4R4plMRy+MMcSTMgzT21JptMzpcWhwjKHV5bpFk3sLk3PKwvOKlAiNXDx%2FT+eXkwOo5vq%2FsoPgNLljoY0XCdjBN7c40V+cXm2Yug4uK2vAe8VBWfqYBnPWDYaFQfUI2p9VrgwlKr8zGwvTeDYaBmYXfeMgoxkJsNHFC42VXhOlUGZhbfWIyUwmNpUYKUoCMS5DWApCiNYNCza0JQ5BneQ6ICgLO0DSo3hMHQRAg6esODehLiPDFAxdTlUrEFOam2FbZhZSD%2FElQ1SfMRXzHfAGt4XU5WMKvOViRb8SmFJ%2F1ptPkEiywPKx8jvFju8PWBlwWiKymE1trkmpybKnx4KxcP8AHEgwEibmgtooJSQb3HWLa8DKuleDEVMICW6rMLmWLHXugAhB88wRm9FRWPiB2VafXq%2FM1%2FBlcdohn3lTM1LoJyh5V8y29QPETcoVcX1FolOV4j0TBctSsITTnsc1KSTbDEn3qWC4ygBAUhohSsvh3CjqNzFjDx41Wd6fsM6hnSyaVWlrksYqsSxNnH0g9IoX9o41ION0+dU2lUwHAhtXMgm5HyH0ieXOIUxUWXSJYyiToh0OKzX62XoR5abb84pH24sfT9Rr1FoE%2FV5SfbYbVNJdZSoHJqgBaDcBV8+xI03Mb+JzYjAtTVbK+LdQlKVJKriwPruYE0+Qwp0hYZTYpIsCDfYHl1htqqAeFklvkNiNEmx%2FSOvJy0vnTMOJLpQN3Scqd9ke6D5nWN6Via0jMjBryCmTPvNglllYWCTd85j5X%2FNEdVWmTdNmVFxlYbKvCojTXYE7XibKVhHF2LEJGG8KVmrhxfdpMhIuzCc3TMhJSB5k2jlYtwTjLA00JLF+FqjSHXScqKjKLaDgtclJULLA3JTmHrYxWsrqv+RySl%2FvsWK3bVF2KL7f0%2FmQwsqcVZJOvQQcxRkKsuYVkCuZEPsyki4lTbMsw2q58KkAfEHf989CrgVhLyErTvdIsob6kbn984qywnBbk9lmOX3PUUcWl1ASzj7cvLC6bJRYanXcny8oUU5pCDMzcogPTiSboXzQdlJI%2FfLmYA2o09IYKW158raljSxzGx8xqPpBS33%2FAL0bdUofjoLai2LDW+unrEK1W02OluaZkxVlPn2dEs8y8tWXJoUqPmDpv0AhdItTMq04iZLeYqsAjRI0Oh01OvyjoN4bnsNvuffku8meDaHEMPghTKVtpcbJB2KkLSoeShHNmXQXSoqJAIsk7fv%2FAKxVtudkizVSorgR1V9SpFaFWBUtGg+Jhvm7blocMrLe2uOMKbLiQhTls1rZRe%2F0PzjjzjVnzZBHxiPXOx7+grp020o9xM2KDtcDT6QvcoqHkXYRexBzJBP9DDcQpSDobR3qVUUZQh5Y0sNcvn1i7TKNnyzILIygu6Iqk3qhKfhOlTjYNiFZoPdp8pNi6khNxe2Y7%2F5YVol5WYaLjakfJP6GAuIDKLj+IDT%2FAPaLqrWtPlFNze9rhnHew4tK8zDqUKGo8ex5chC1qZnJiYk6biBwKblHO9MyLOLbQkajLurlYXFzYX5hYqZdOuuw5q%2F%2FACjnzDgmp91p4qAU1vfUHOnbMfLrDfSjX+77gpys4kdd9qYddWzLtvMywVdtLyiXCnkSEnQ23H9YKVLCW8QCr8%2F8QfpHUVPVKdl5X7wnlzYlpZEqwVlHgaRfKmwVbmT5kkm5Mc+d5+BHwSn9FRPxrggW09MQPPXuCpaR5rUP6iOW+hCybAqPolX6QvdKhsD8M4%2FoqES1FZINz6kn%2FwC4frFe3mJbqWpBckylb+QoNzoLi0XA+z%2FwxgJXFd9OOqNKTdVflyrDhm0BSW5hnxuKSlQ%2FxCkKKTukNLtuDFQ6e3apspAIC1BJ2G5+UWQ4M4kVh3i7hCqJcQ23L1+UbcUdD3ankoWDfYFKyPQmMm9PRoRZdTttcDq5xk4SqXhp29Xwy45VJaXCCszaA2Q4ykC5zkWKRY5iMumbMPJVKXne+bqAAaRe5ygWPIjbyj34mFy9PpzlSnCQ00kE23JNgAPMkgDzisdV+zj4L45xHW8Y1qq4hkRWJtyoKkpCaYbYlVuKzKCLsqJFyoi5sNgAAAM6OZVjv9oy5Th25S3BeDyfRSZ1Lfeol3HUcylJsPXpG225plxIXJuJBNh4TrHpm59ndhicnZmV4ecUJlcpKWTkn6WlyyiL275paAr%2FAOnzGpho4c7BXF6uV+fotTfw%2FShIsB4TS5r2ht9SiQkJCE50g5TqtKFAWOU301asnBsXdG5L+BUtxc6uXbKltFMMM4eqc4+HJyWdlWE6nvUlKlD+UH47+cOqryrJQw6ltDapfQWtqNgOu4T6%2FKH5xL4b4l4YYoncEYwlm5WoSWVwOy6yWXEK1S62uwKkG53A1BBAIIiNn6oqZk5+n1BITOSicwUnQOtkgZh89Y6GCrrgnB7T539TBt9SU2pLTXsJn5x2bUlllzwJ8IttoNNPhb4QWClCwWzYJvZR5jp9Y4Jqh7sk+EkJOumt4C7VlqHdNHYkmx8rf1hPxEfIipk2OdM0wVE99dISFZ1HcdR5i0P3gGumzfG%2FBElO926yquSpcCtroWFD5kJHqYhiVnVS6yw4TlUAketxeHBhjEb2GsTUnE8ioqeps41ONi+UqKHAoC%2FK4T9Yjnkd8GkPjQ4y2z3NlcWH2VptpxPug2EMTjhW%2Fa8BPzDzDjokX25hdgCAjVBOuumfMfIRFdG4ttvUdmborKZ1tSUuD2pzKtxKtUlIQsWFvM+sG1ridJYlpE1heoIm5OYr8u7T22pN8d64paSkhpDiXMy7G9gD6RzN0O+MofwNjGs9CyNmvBEdY4nYSk8yRUWVPNHKpttYUoEciBtsd4lzDHBzFGI6XLVSs4nbpTE2wh9qXl2y86ErTcZlHKEmx2GYRGuD+xHPytUlZ6p11xNNbcStTE1KpbdKQrUZULULkczl9It8lKUJCEJCUpFgALACMZ4FUPL2bsur2z%2FdWhg0jgXgOnNj29M9VXr3LszMFPws3lFvW8PanUylUWWTJ0iQl5NhAsEMNhA+m%2FrChUAVtEsKoRXCKkr7Lf35bNqcCjvBRUOsYdILUq0PT2MBFQ5GAKUOsBK7QWtcDAGVg%2F8AaAlaR%2F2gsuWgOeGgKO8EZ3ggnP5xmeAA7vBGQTnjIAOIlyMLxvvBSdo0d4gROwS3vONJe13gtcBTvCiC1LhIjYWTBKfdEGDaHIA4L0gSXIJG0CTCe4jDu8jO8PWCoyHDQ%2FvIpj9pLQJd7DmDMVOsZvZ6hMUxax7yQ60HUkeY9nUR6xcqKx%2FaEoQvgZJFaAopxFKkXF7HuXxp8CfnE1Eu2aIpLaPPNFdx3KNJp7FdqCGknR2XqK2gR1JSrX+sFztVqTwT7fPTc06BlD0w+pxxQ15kkxxZ5tvuye7Te3TyhM2013Sld0i+Q65RGvVY4vaKElvhj8wXh+vYrrEtKUySmZ6bmnQzKyjSMy3lnS4HQaXJsBa5IAJj0r7OXZ14fYKw%2FL%2F6TUCk1vEjqi%2FMzkzLImO6UR4W2c4ORCQTqACr3jvYRt2G6bTpfgvVqxL0+Wan1uzLKppDSUvFtDaClBWBmygqUQL2BJ6xZ%2Fg4S9Tpdx7xqUxcqVqSesYvVuqXzl6EXpL6e50nR+m0xj+Ily34+wrr+J6TT6rKYSlHEtKQwp5baLJCEJUlIA%2FzjaObj3DmGeKWBaphGuSwelJuXcTnSBnZXY5XUEg5XEmxB6iIU4uvPN8dpfu3VovIv3yqIv8Aiyw%2FUxYLBwCqA8oi5Mobk+kc%2FC2ddinF8o6aeNXKrta4Z5P8W+FWJeD+N5rB+Iu7cUlCZiSmmr91NSylEIeTfa+VQKT7qgRqBcxfiKf7tTKNbqSpVvjp+sXW+0AaaWxw7mltoU8tipoU4QCopT7LlBO9hmVbpmPWKM4mJ9ta1%2F2Y%2FqY9HxsyzJwY3z8vz%2FQ80y8OGLmSph4QkdfcmMuVBOXKdNdiItx2Mey3iLEuIqZxS4kUEydApbhmJKVnmPFUXbWQoNq1DaTZWZQsopATcFRSn+zjoVDrHErEUzV6NIzztPpiH5RyZl0Oql3cyhnbKgShVtLixj0LaUpTmZSiSRqSYy8nImn2os1Ux8nmF2pnu%2F47Y3fCrg1Nxo2O3dtIbt%2FyRB88vu0utJPv5RoL6DWJl7SevGPHxOtq5ULf%2FWMQnUicyhc2y%2FqYSt7SB8MW4cmmpNudcKR3ikhsE20Qb3FztqB56Q3qg4VTLq7DxnreFcspSZaYKVEGyNj5wgf95MW14RC%2F3mFd0SLkRtgKQvMIP%2FKIJVvCN6WxyOzJ1NxpOS99f3yhZ95KebyFI36j%2FwDGGy0SF3HWF0otX8R36xdqtl2lScE3tnVLgtsnf+X+0Iy4UVElOoKLG3qP4RGF1wDRxW%2FWCkkrqCAslQyq31h834%2FMjXud+Wn1AhBKiLaC5%2F8AwhS84FpJUkC%2F8RA%2FqkRxFaPgQscccbauhak+htFr2Kr4kFzCEEmwR%2FyH+0c4laXR4dOoBH9LiFS3nlHxOrPqowU8hCVhSUgK6gaxVmWYnSpDHfTbLigSAoXN%2FwBf7iJAlpedqE6qUpqH3ZmaCm2GpdCluqcUg5QhCfEpV7WAFybW1hl4e8fcqX4ld6Rc6m1touz9n9TadM42rM%2FMSEu7MytNJYeW0lTjRLiUnKoi6bp005aRn5jUK+76F3Eh6tqrfuW7qVdqmIMUUTDqpRxunS8t7fMgg5+9IGVK07gjONOt+ghudqbjnT+B+AJepsTDip6ddSwww0AFKGuc67WSCfW3UQswtMTA4kYncD7gUiXayqzG41O3yHyiqn2hq1THEfh+2+ouJVTsykrNwSpbOYm%2FWwv1tHFwbyL+2fud8q4YdH7NeC6XZ3nKlSuFlEmsRSim6jUJNE5NJNgEuugLKd%2Fyk2Ou94fdEr1MeTU8RZQ2xMTBYaVceNLQy6eqgsjlYiGG1MTCGZ5pD7iUNy7mRIUQE%2Fhg6DlDEps%2FPI4ISpROvpKKctSbOEZT3ajcdNYiT7d6JpUqzTfliWiJ4bcau0ViWpVrC8lX5aiyKKcVVCWQ9LtJTqkJQoFJUSXFFR1AsBYXKqL9uThVRuDnFyeRg9n2ahVSSRNyTaFqUlhL1wtm5JuA4hSkjYJsB7pi3%2FZMQlHD6tzaEhL783MqddAstwhYSCo7myQBryAEVF7eEzMPcTXpZ6YcW01h2RWhtSyUpV7U5qBsD4lf5j1ja6TlXO1wcm1rwYfXcWmFKnGKT2iroqJFjYq9PS36QpROsqSShpaT6%2FH+sbpqEEm6QdRy9YXqbbynwJ+XlHQRukzmfSic5LinNlKIHIwobdWNAhV08xca9YOQlKbqSkA9QNYdnChpqoYtZlZ9tMyyVpBbeAWk6nkdIR3SB1xSEcvjDHMpJIl6HWqqlsN90ppmbUnKALAoubJ00IGul+elsOwbwtr+MuJ7nGzEpccksOMuScmt9xbpVOON5MqFLJvkbWsrP8TiOdwJX4N8KOFtbFPXWeG2FZ9RQNZqjS7p3%2FmQYtLRKHRcOyTVHw%2FR5KmSEun8KVk5dDDLd7E5UIASLkk6DnFe2Wo7FrinI6cZGRkZpa0YSBBK1wNcEHeGsVG83lAFqMCgC4VDgoq02gpaoMO0FK%2FWI5ABKtNoDm8o2doDCIkj4BBcbuYBG07wiEB5oyNRkOA%2F%2F9k=%22 width=%22100%25%22 height=%22100%25%22%2F%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M638.5 677Q296 854 293.5 496T636 319q345 181 2.5 358Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.blob1 {
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(-30 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%234158D0%22%2F%3E%3Cstop offset=%2250%25%22 stop-color=%22%23C850C0%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23FFCC70%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M638.5 677Q296 854 293.5 496T636 319q345 181 2.5 358Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M638.5 677Q296 854 293.5 496T636 319q345 181 2.5 358Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.blob2 {
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(-45 .5 .5)%22%3E%3Cstop offset=%220%25%22%2F%3E%3Cstop offset=%2233.333%25%22 stop-color=%22%23361552%22%2F%3E%3Cstop offset=%2266.667%25%22 stop-color=%22%2310446a%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%230e77c7%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M807.5 646Q669 792 480 827T188 681Q85 500 169.5 287t290-142.5q205.5 70.5 346 213t2 288.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M807.5 646Q669 792 480 827T188 681Q85 500 169.5 287t290-142.5q205.5 70.5 346 213t2 288.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.bold::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  background: linear-gradient(
    111.3deg,
    rgb(213, 201, 247),
    rgb(116, 94, 172) 65%
  );
}

.cta-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.g1 {
  background: -webkit-linear-gradient(
    45deg,
    rgb(171, 155, 210),
    rgb(118, 92, 183) 65%
  );

  background-size: 300% 100%;
  /* moz-transition: all 0.4s ease-in-out; */
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.g1:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.g1:focus {
  outline: none;
}

.g1.gb1 {
  background-image: linear-gradient(
    to right,
    #22a8bd,
    #22bd99,
    #22bd99,
    #22a8bd
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 191, 0.446);
}
.g1.gb3 {
  background-image: linear-gradient(
    to right,
    #22a8bd,
    #22bd99,
    #22bd99,
    #22a8bd
  );
}

.g1.gb2 {
  background-image: linear-gradient(
    to left,
    #22a8bd12,
    #22bd993f,
    #22bd9960,
    #22bd9996,
    #22bd99,
    #22bd9956,
    #22a8bd1a
  );
  /* box-shadow: 0 4px 4px 0 rgba(49, 196, 191, 0.275); */
}

.g1.gr1 {
  background-image: linear-gradient(
    to right,
    #de716a,
    #b45d77,
    #b45d77,
    #de716a
  );
  box-shadow: 0 4px 15px 0 rgba(229, 65, 10, 0.401);
}
.g1.gr2 {
  background-image: linear-gradient(
    to left,
    #de726a33,
    #b45d775a,
    #b45d77c8,
    #b45d772f,
    #b45d77,
    #b45d775a,
    #de726a23
  );
}

/* Gradient */

.cta-button {
  background: -webkit-linear-gradient(
    45deg,
    rgb(171, 155, 210),
    rgb(118, 92, 183) 65%
  );
  border-radius: 15px;
  font-size: 15px;

  line-height: 1.7;
  padding-inline: 20px;
  padding-block: 10px;
  color: #fff;

  background-size: 300% 100%;
  /* moz-transition: all 0.4s ease-in-out; */
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  /* &:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  } */
}

.cta-button:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cta-button:focus {
  outline: none;
}

.cta-button.project-owner {
  background-image: linear-gradient(
    to right,
    #22a8bd,
    #22bd99,
    #22bd99,
    #22a8bd
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.cta-button.freelance {
  background-image: linear-gradient(
    to right,
    #de716a,
    #b45d77,
    #b45d77,
    #de716a
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/* LANDING */

.presentation ul .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
}

.presentation li .title .icons {
  font-size: 30px;
  color: #dc8c87;
  margin-right: 10px;
}

#project-owner-presentation li .title .icons {
  color: #53b2c0;
}

.presentation li .subtitle {
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 5px;
}

.presentation li {
  text-align: left;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 100;
}
