.card_ic {
  width: 100%;

  height: fit-content;

  background-color: #292929;

  border-radius: 10px;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24); */
  font-size: 16px;
  /* transition: all 0.3s ease; */
  position: relative;
  display: flex;

  cursor: pointer;
  overflow: hidden;
  /* font-family: "Poppins", sans-serif; */
}

.card_ic ._icon {
  margin: 0 auto;
  width: 100%;

  background: linear-gradient(
    90deg,
    #0b44b6 0%,
    #320331 40%,
    #07152f 50%,
    rgba(0, 0, 0, 0.28) 60%
  );
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.card_ic ._icon svg {
  fill: white;
}

.card_ic .title {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 4px;
}

.card_ic ._text {
  /* margin: 0 auto; */
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.card_ic.card_ic_hover:hover ._text,
.card_ic.card_ic_clickable ._text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: fit-content;
}

.card_ic.card_ic_hover:hover ._icon,
.card_ic.card_ic_clickable ._icon {
  background-position: -120px;
  transition: all 0.3s ease;
}
